[2017-05-09 13:57] meetmangukiya opened #1 "Hello World plugin for auto invitation"

[2017-05-09 13:58] meetmangukiya opened #2 "Invite command to invite users to different teams"

[2017-05-09 13:59] meetmangukiya opened #3 "File GitHub issues from gitter"

[2017-05-09 13:59] meetmangukiya opened #4 "Nevermind"

[2017-05-09 14:00] meetmangukiya opened #5 "Wolfram Alpha search command"

[2017-05-09 14:00] meetmangukiya opened #6 "GitHub issue assignment"

[2017-05-09 14:00] meetmangukiya opened #7 "Explain command"

[2017-05-09 14:01] meetmangukiya opened #8 "ghetto command"

[2017-05-09 14:01] meetmangukiya opened #9 "help command"

[2017-05-09 14:01] meetmangukiya opened #10 "lmgtfy"

[2017-05-09 14:02] meetmangukiya opened #11 "mark wip and pending review commands"

[2017-05-09 14:02] meetmangukiya opened #12 "The rules command"

[2017-05-09 14:02] meetmangukiya opened #13 "unassign github issues"

[2017-05-09 14:03] meetmangukiya opened #14 "ship it command returning squirrel images"

[2017-05-09 14:13] meetmangukiya opened #15 "Search API docs and User docs"

[2017-05-09 14:14] meetmangukiya opened #16 "List bears with filters"

[2017-05-09 14:15] meetmangukiya opened #17 "Bear and language stats"

[2017-05-09 14:16] meetmangukiya opened #18 "Contribution stats"

[2017-05-09 14:17] meetmangukiya opened #19 "Run bear on given code and return diffs and results"

[2017-05-09 14:19] meetmangukiya opened #20 "Auto-reply on a question plugin"

[2017-05-09 14:22] meetmangukiya opened #21 "On porting all the plugins, tag as v1"

[2017-05-09 14:22] meetmangukiya commented on #21
Which makes it mandatory to get new plugins merged first, ofc I can work on branches ;)

[2017-05-09 14:23] meetmangukiya commented on #21
First thing to get merged will be the ported plugisn

[2017-05-09 14:24] meetmangukiya opened #22 "Setup CI, make a coafile"

[2017-05-09 14:33] meetmangukiya opened #23 "Write a test helper"

[2017-05-09 14:34] meetmangukiya opened #24 "corobo should be available in all the private chats"

[2017-05-09 14:35] meetmangukiya opened #25 "Easy deployment"
Maybe make a dockerfile

[2017-05-09 14:36] meetmangukiya opened #26 "construct datasets for topic modelling"

[2017-05-09 14:38] meetmangukiya opened #27 "Retrieve topic/keyword from the question"

[2017-05-09 14:38] meetmangukiya opened #28 "Efficient pre-processing of the question string"

[2017-05-09 14:40] meetmangukiya opened #29 "Trace back the original document and return it as the answer"
If answer is not found, then just chain it to `lmgtfy`. ?

[2017-05-09 14:41] meetmangukiya opened #30 "Topic-modelling as a whole should be working"

[2017-05-09 14:52] meetmangukiya commented on #20
Parent issue of the milestone https://github.com/coala/corobo/milestone/6

[2017-05-09 15:03] meetmangukiya opened #31 "Bot prefix"

[2017-05-09 15:04] meetmangukiya opened #32 "Trim down, adapt the existing help command according to our needs"

[2017-05-09 15:05] meetmangukiya opened #33 "Rough flow"
1. - [ ] Write the test helper
2. - [ ] Port all the plugins(in the order of importance) (https://github.com/coala/corobo/milestone/4)
3. - [ ] Create all the new plugins(https://github.com/coala/corobo/milestone/5)
4. - [ ] Topic Modelling(https://github.com/coala/corobo/milestone/6)

[2017-05-09 16:18] meetmangukiya commented on #33
/cc @Udayan12167

[2017-05-09 17:12] meetmangukiya opened #34 "Basic repo structure for errbot"

[2017-05-10 06:39] meetmangukiya opened #35 "References / Inspiration"
1. https://github.com/paarthneekhara/neural-vqa-tensorflow
2. https://github.com/jcelliott/inquire
3. https://github.com/thebigdb/akiva
4. https://github.com/jpmpentwater/question_answering
5. https://github.com/yucenli/nlp-s17/tree/master/src
6. https://github.com/bwbaugh/causeofwhy
7. https://github.com/alex/what-happens-when
8. https://github.com/arianhosseini/Question-Answering

For more https

[2017-05-10 15:04] coala-bot opened #36 "Add pitchfork command"
Due to some *ahem* interesting digressions in offtopic, the need for a pitchfork command has arisen. When issued by an authorized person to cobot, it will spit out a ascii art of a pitchfork and say something about being banished to offtopic. The command is to be used when someone digresses the conversation or goes off topic in an offtopic channel. The syntax should be something like `cobot pitchf

[2017-05-10 15:15] coala-bot opened #37 "Voting for the name of coala-bot"
Suggest names for coala-bot and vote for the same

Opened via [gitter](https://gitter.im/coala/coala/?at=59132e97631b8e4e61c09fa1) by @Vamshi99

[2017-05-10 15:16] Vamshi99 commented on #37
I would like it be `cobot` itself.

[2017-05-11 15:45] adtac commented on #37
skynet

[2017-05-11 18:12] JayKanakiya commented on #37
I too like cobot!

[2017-05-12 11:14] meetmangukiya opened #38 "Vote plugin"
https://github.com/errbotio/err-poll has a bug, if the bug prevails try to find and fix it, or just write another one ;)

[2017-05-12 16:37] Mixih commented on #36
[code]

[2017-05-12 19:17] meetmangukiya opened #39 "Better config file suited for better deployment"

[2017-05-17 12:21] meetmangukiya opened #44 "Start travis for this repo"
Earlier the better
/cc @sils @jayvdb

[2017-05-17 12:22] meetmangukiya commented on #44
I have a PR adding .travis.yml here https://github.com/coala/corobo/pull/43

[2017-05-17 13:19] meetmangukiya opened #45 "Meta"
# Rooms

1. Room ID of coala/coala -- 54d8b6f315522ed4b3dbc7c2

[2017-05-20 13:52] yukiisbored opened #46 "Integrate StackOverflow Notifier"

[2017-05-20 13:53] meetmangukiya opened #47 "Stack overflow gitter notifier should be there in corobo"
from @yukiisbored

[2017-05-20 13:54] meetmangukiya commented on #47
Requires equivalent functionality as that of https://github.com/oxinabox/StackOverflowGitterNotifier.jl

[2017-05-20 13:55] meetmangukiya commented on #47
Closing in favor of https://github.com/coala/corobo/issues/46

duplicate

[2017-05-20 13:55] #47 closed

[2017-05-20 23:18] Makman2 commented on #46
So it notifies you if there's a coala related thread/question opened? That would be awesome :O

[2017-05-21 05:23] meetmangukiya commented on #46
No, not really. This was meant as a gitter integration for stack overflow for selected tags.

But what you say is good as well.

[2017-05-21 05:24] meetmangukiya opened #48 "StackOverflow plugin"
Search stackoverflow with given search string and return 3 results, and the search page link

[2017-05-21 05:24] meetmangukiya commented on #48
From @Makman2 at https://github.com/coala/corobo/issues/46#issuecomment-302904686

[2017-05-21 05:29] meetmangukiya opened #49 "Change the coala version from rc2 to 0.11 after 0.11 is released"

[2017-05-21 05:33] meetmangukiya commented on #49
After https://github.com/coala/corobo/pull/43 is merged

[2017-05-24 16:04] #49 closed

[2017-05-24 16:45] meetmangukiya commented on #22
Done.
Travis CI has been setup and coafile has been added

[2017-05-24 16:45] #22 closed

[2017-05-24 16:46] meetmangukiya commented on #34
Done

[2017-05-24 16:46] #34 closed

[2017-05-24 16:47] meetmangukiya commented on #44
Done

[2017-05-24 16:47] #44 closed

[2017-05-25 07:32] meetmangukiya commented on #23
Ways in which I can test plugin:
# Way 1

[code]

[2017-05-25 16:02] Udayan12167 commented on #23
I would prefer the second method as it is the intended errbot testing method I think.

[2017-05-25 16:03] Udayan12167 commented on #23
Would help us avoid some errors.

[2017-05-25 18:04] meetmangukiya opened #54 "Add codecov"

[2017-05-25 19:31] meetmangukiya opened #55 "Optimise travis"
1. Disable sudo
2. Enable pip caching https://docs.travis-ci.com/user/caching/#pip-cache

[2017-05-25 20:17] #55 closed

[2017-05-27 09:28] meetmangukiya opened #60 "Breakage alert"
alert the maintainers about a breakage

[2017-05-27 09:30] meetmangukiya commented on #60
I think this'd be easy to implement, hence adding as a stretch goal.
@jayvdb do we have periodic builds on master, that and using API of travis(I assume it provides one) can be used to see the breakage.

This becomes not so useful if all the deps are pinned, fwiw if requests was pinned then the breakage would've went unnoticed with this ^^ method

[2017-05-27 09:38] meetmangukiya opened #61 "Allow using corobo over telegram and IRC as well."
Not sure about irc, usernames on IRCs are not static, might be unreliable to find the spammer if we encounter one.

[2017-05-27 09:39] meetmangukiya commented on #61
As per communication with upstream, errbot currently doesn't allow using the same instance of bot for various backends, so this might need some upstream work and I'm interested in making that work :D

[2017-05-27 10:18] meetmangukiya commented on #5
will be using https://github.com/jaraco/wolframalpha

[2017-05-27 14:03] meetmangukiya commented on #23
Second method has been used in five of plugins and all seem to work well. I think I'm gonna stick with second way

[2017-05-28 06:48] meetmangukiya opened #63 "coala is broken, hence the builds are red"

[2017-05-28 06:48] meetmangukiya commented on #63
Uninstalling `vim-vint` is a temporary solution

[2017-05-28 07:04] #63 closed

[2017-05-28 07:17] #4 closed

[2017-05-28 07:30] meetmangukiya opened #65 "Remove the uninstall vim-vint statement from travis yml"
https://github.com/coala/corobo/commit/38a6b3b164680723763368a804a23c0ca7bfb981 introduced this statement to prevent travis from failing, temperory fix

[2017-05-28 13:51] meetmangukiya commented on #23
(Closing)

[2017-05-28 13:51] #23 closed

[2017-05-29 13:21] meetmangukiya opened #67 "Write testing guide for betamax"

[2017-05-31 04:17] meetmangukiya opened #68 "Add space consistency bear to coafile"

[2017-05-31 05:27] meetmangukiya opened #69 "Deploy corobo"

[2017-05-31 05:28] meetmangukiya opened #70 "Auto-update corobo instance"

[2017-05-31 08:42] #65 closed

[2017-05-31 14:21] meetmangukiya opened #73 "Add doc string to the command in nevermind plugin"

[2017-05-31 15:02] #73 closed

[2017-05-31 17:20] meetmangukiya opened #75 "Should we use recorded API responses in tests or mock?"

[2017-05-31 17:24] meetmangukiya commented on #75
Recorded API responses will give an integration test while mocking will be unit test I think. More the integration tests the better.

but there is also the question of "do we want to test the library/wrapper or our code" it is a good idea to leave testing the library to upstream though

[2017-05-31 18:58] meetmangukiya opened #76 "Use a wrapper for gitlab + github support"

[2017-05-31 18:59] meetmangukiya commented on #76
Seems like git-repo is far from stable for even issue assignments, but would be a good addition once completed.

[2017-05-31 19:03] meetmangukiya commented on #75
I tried `betamax` and `vcrpy`, `vcrpy` performed better(easier to use) than `betamax`, but both of them are unable to highjack and use all the subsequent requests session, so `github3` can be used after the responses are recorded. It is very well possible that I am not doing this right. I have done the mocking and the tests pass, so for the time being am leaving this alone. Will pick this again so

[2017-06-01 04:42] #8 closed

[2017-06-01 04:47] meetmangukiya opened #77 "Move plugins in their own folder"

[2017-06-01 04:47] meetmangukiya opened #78 "Create a pull request template"

[2017-06-01 05:18] meetmangukiya opened #80 "Enforce 100% test coverage, fail CI if coverage is less than 100"

[2017-06-01 05:18] meetmangukiya opened #81 "Add travis CI badge"

[2017-06-01 05:19] meetmangukiya opened #82 "Add coverage badge"

[2017-06-01 05:19] meetmangukiya opened #83 "Add coala badge"

[2017-06-01 05:29] #78 closed

[2017-06-01 06:42] #80 closed

[2017-06-01 06:42] #54 closed

[2017-06-01 06:42] #81 closed

[2017-06-01 06:42] #82 closed

[2017-06-01 11:33] meetmangukiya opened #85 "Test suite is buggy"
since test directory is specified, coverage of plugins is not calculated :sweat:

[2017-06-02 08:49] meetmangukiya opened #87 "Set QuotesBear to single quotes"

[2017-06-02 08:50] #85 closed

[2017-06-02 09:04] #87 closed

[2017-06-02 09:26] meetmangukiya commented on #68
It already exists in `all.whitespace` section :-1:

[2017-06-02 09:26] #68 closed

[2017-06-02 09:44] meetmangukiya commented on #77
I am not sure if we should package each plugin in its own package...
1. it leads to messy imports in tests
2. too many folders

[2017-06-02 09:50] meetmangukiya opened #90 "File GitLab issues from gitter"

[2017-06-02 09:50] meetmangukiya commented on #3
splitting into two: second issue https://github.com/coala/corobo/issues/90

[2017-06-02 10:39] meetmangukiya opened #91 "Enhance the coverage report to show the missing part, branches, etc."

[2017-06-02 14:31] meetmangukiya opened #92 "Get vote from community"
User story:
I should be able to setup a poll and get votes from community.

Community members should get a message in a private chat with the bot. User should be able to reply with the option. Bot should record the option and accordingly take the vote under consideration.

Vote results should be available through a command as well

[2017-06-03 12:11] meetmangukiya opened #93 "Create a base gitlab and github utilities plugin"

[2017-06-03 12:11] meetmangukiya opened #94 "Add appveyor?"

[2017-06-03 12:12] meetmangukiya opened #95 "Record the request being made in ghetto plugin's test"

[2017-06-03 12:13] meetmangukiya commented on #91
use `--cov-report term-missing`

[2017-06-03 12:24] #91 closed

[2017-06-03 12:55] #95 closed

[2017-06-03 13:52] #93 closed

[2017-06-03 14:08] meetmangukiya opened #99 "Name for gitlab and github utilities plugin"
Please vote with a :+1: reaction on the candidates comment :3

For the time-being it is named `LabHub` after considering 3 votes :P

[2017-06-03 14:08] meetmangukiya commented on #99
LabHub

[2017-06-03 14:08] Makman2 commented on #94
Do you wanna run it on Windows? Otherwise I would say just use Linux infrastructure^^ is usually better anyway^^

[2017-06-03 14:08] meetmangukiya commented on #99
GitStar - suggested by @jayvdb

[2017-06-03 14:10] meetmangukiya commented on #94
@Makman2 no, it'll be deployed on a linux powered server ;)

[2017-06-03 14:13] Makman2 commented on #94
I wouldn't use Windows testing then, maintaining windows compatibility is sadly some work... I would recommend to introduce AppVeyor only if you want to run it on Windows, and to port code to work there once needed.

[2017-06-03 14:15] meetmangukiya commented on #94
hmm.. I guess then we shouldn't add AppVeyor and only add it only after a decade or so if windows takes server side better than linux ;P

[2017-06-03 14:15] #94 closed

[2017-06-04 17:53] #12 closed

[2017-06-04 19:41] meetmangukiya commented on #9
Available implicitly

[2017-06-04 19:41] #9 closed

[2017-06-05 07:15] jayvdb opened #101 "Add docstyle checking"
I see a lot of pep257 violations.
Better to fix them up now, and prevent new ones using the coala bear.

[2017-06-05 07:49] meetmangukiya opened #102 "Write code as generic as possible, making it easier to adapt for other orgs"

[2017-06-05 07:52] meetmangukiya commented on #102
http://en.arguman.org/should-we-submodule-plugins-directory-in-corobo

[2017-06-05 08:03] meetmangukiya commented on #31
http://en.arguman.org/cobot-should-be-renamed/26314

[2017-06-05 16:01] jayvdb commented on #76
The other wrapper is gitmate's [IGitt](https://gitlab.com/gitmate/open-source/IGitt)

[2017-06-05 20:20] meetmangukiya commented on #76
IGitt looks like something that could work :+1:

[2017-06-05 20:21] meetmangukiya commented on #76
See:
https://gitlab.com/gitmate/open-source/IGitt/issues/25
https://gitlab.com/gitmate/open-source/IGitt/issues/24
https://gitlab.com/gitmate/open-source/IGitt/issues/26

[2017-06-06 13:59] #7 closed

[2017-06-06 15:46] meetmangukiya commented on #31
multiple bot prefixes are possible : :point_up: [June 6, 2017 9:10 PM](https://gitter.im/errbotio/errbot?at=5936cd0602c480e67219de77)

[2017-06-06 19:17] #10 closed

[2017-06-08 09:28] #14 closed

[2017-06-08 16:47] meetmangukiya commented on #77
We are not moving  each plugin in their own folders :+1:

[2017-06-08 16:47] #77 closed

[2017-06-08 16:47] meetmangukiya commented on #76
# We are using IGitt now

[2017-06-08 16:48] #76 closed

[2017-06-08 16:53] meetmangukiya commented on #75
Recorded API responses whenever and wherever possible :+1:

[2017-06-08 16:54] meetmangukiya commented on #67
FWIW, we will not be using betamax, if we will be recording responses, we will use vcrpy

[2017-06-08 16:54] #67 closed

[2017-06-08 16:55] meetmangukiya commented on #45
Moving to wiki

[2017-06-08 16:55] #45 closed

[2017-06-08 16:59] meetmangukiya commented on #35
please move to wiki

[2017-06-08 17:02] meetmangukiya commented on #25
We have a [Dockerfile](https://github.com/coala/corobo/blob/master/Dockerfile)

[2017-06-08 17:06] meetmangukiya commented on #26
https://docs.google.com/spreadsheets/d/1-Z5UlqchCO6MUmlSmxqG9XmdZFSL_SBr_8rVcFRO0f0/edit?usp=sharing will contain one of the data sets

[2017-06-09 17:20] meetmangukiya opened #106 "Move pytest args to setup.cfg"

[2017-06-09 17:45] meetmangukiya opened #108 "Add GitCommitBear"
difficulty/newcomer

[2017-06-10 09:21] meetmangukiya opened #109 "Auto-respond on triggering git, guide, newcomer, guide terms in text with the link for the same"

[2017-06-10 09:40] meetmangukiya opened #110 "Make a separate plugin for all the callback plugins"

[2017-06-10 09:41] meetmangukiya commented on #110
https://github.com/coala/corobo/issues/109 should come here

[2017-06-10 09:42] meetmangukiya commented on #110
-  [ ] if newcomer and guide in message, return newcomer link
- [ ] if git and guide in message, return git guide link
- [ ] if bears and a language in the message, return list of bears of that language
- [ ] if cEPX or cEP-X in message, return a link to cEP-X

[2017-06-10 20:42] #106 closed

[2017-06-11 09:42] meetmangukiya opened #112 "setup.cfg: move cov-fail-under 100 to coverage section"

[2017-06-11 10:14] #108 closed

[2017-06-13 18:19] meetmangukiya opened #115 "Move the `tests` from addopts key to testpaths key"

[2017-06-13 21:06] #115 closed

[2017-06-13 21:24] meetmangukiya opened #117 "Create a plugin that refreshes the state of corobo"

[2017-06-14 17:23] #15 closed

[2017-06-14 17:31] meetmangukiya opened #119 "Join the bot in private chat with every user that is invited manually or by triggering hello world"

[2017-06-14 17:32] meetmangukiya commented on #119
adds to https://github.com/coala/corobo/issues/24

[2017-06-15 02:11] yukiisbored commented on #99
GitMaid

[2017-06-15 02:12] yukiisbored commented on #99
KannaGit

[2017-06-15 02:12] yukiisbored commented on #99
Whoops, closed it by accident.

[2017-06-15 06:17] meetmangukiya opened #120 "Enhance nevermind, such that it can cancel the previously ran command from the same user"

[2017-06-16 16:09] meetmangukiya opened #123 "Write the webservices in some kind of API spec language and generate client from it"

[2017-06-17 17:05] meetmangukiya opened #125 "Add build badge for semaphore CI"

[2017-06-17 22:28] meetmangukiya commented on #123
RAML - Rest API Modeling Language is one of the candidates. I have already written the file for the coala API. There are client generators based on RAML, but the python support is pretty low and also, RAML 1.0 has pretty less libs since it is a bit recent. Complete list:
1. https://github.com/vmware/nsxramlclient - Is a python2 library, and corobo is python3, so not really usable. https://github.c

[2017-06-17 22:53] meetmangukiya commented on #123
Options that we'd like to weigh:
1. Wait for RAML support to magically appear soon, until then use something else( :point_down: )
2. Write an own API wrapper, coala webservices is pretty small FWIW
3. Make manual API calls

[2017-06-18 00:19] coala-bot opened #127 "Check repository for .yml files using YAMLLintBear"
Add YAMLLintBear in .coafile and fix .yml file issues raised by coala. See https://github.com/coala/coala-bears/pull/1799 for reference.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5945c725e531dbc905f388de) by @Monal5031

[2017-06-18 03:19] jayvdb commented on #123
Building a API docs + wrapper using `ramlfications` & `griffin` would be interesting. https://github.com/spotify/ramlfications/pull/149 to get that CI green.

Have you tried RAMSES , mentioned on http://raml.org/developers/build-your-api ?

It would also be really interesting to use Flask with errbot, via Flask-RAML.

[2017-06-18 16:02] #5 closed

[2017-06-19 07:58] #2 closed

[2017-06-19 07:58] #1 closed

[2017-06-19 07:58] #3 closed

[2017-06-19 07:58] #13 closed

[2017-06-19 07:58] #90 closed

[2017-06-19 07:59] #6 closed

[2017-06-19 07:59] #11 closed

[2017-06-19 08:59] meetmangukiya commented on #21
done :+1: https://github.com/coala/corobo/releases/tag/1.0

[2017-06-19 08:59] #21 closed

[2017-06-19 09:09] meetmangukiya opened #129 "coala lower case c plugin"

[2017-06-19 10:35] yukiisbored opened #131 "Do versioning"

[2017-06-19 12:36] meetmangukiya opened #132 "Cannot create github object, please check GH_TOKEN"
`17:58:54 ERROR    errbot.plugins.LabHub     Cannot create github object, please check GH_TOKEN`

[2017-06-19 12:43] meetmangukiya opened #134 "Log errors whose traceback might be helpful as exceptions"

[2017-06-20 04:55] #132 closed

[2017-06-20 04:55] #134 closed

[2017-06-20 07:15] #129 closed

[2017-06-20 07:24] meetmangukiya commented on #32
Temporarily diverting the help to private messsages

[2017-06-20 08:00] meetmangukiya commented on #123
webservices spec will be written in RAML

[2017-06-20 08:00] meetmangukiya commented on #123
client generator that'll be used is ramlient

[2017-06-20 16:41] #117 closed

[2017-06-20 16:48] meetmangukiya commented on #131
done with https://github.com/coala/corobo/commit/3747904b40f0df371ab21daf140ed1ed825dff5e

[2017-06-20 16:48] #131 closed

[2017-06-20 17:46] #123 closed

[2017-06-20 19:23] meetmangukiya opened #139 "labhub: mark command is buggy"
when there was a pending label
[code]

[2017-06-20 19:32] meetmangukiya opened #140 "invite command doesn't work properly"

[2017-06-20 19:36] meetmangukiya opened #141 "Remove ship it emoticon from ship it message reply"
For newcomers, have fun with corobo :smile:

[2017-06-20 20:16] meetmangukiya opened #142 "assign command should exclusively look if the user is part of developers or maintainers team as well"
Since, all the users are in newcomer team, no one will be able to assign themselves to difficulty/medium or higher issues, not even developers and maintainers, so, we should check exclusively if the user is part of one or more teams

[2017-06-20 20:17] meetmangukiya opened #143 "Separate IGL and IGH in two separate try blocks"
Currently if one fails, and if it is the first one, then the one which can be initialised can't be initiailised either

[2017-06-20 20:18] meetmangukiya commented on #69
done :+1:

[2017-06-20 20:18] #69 closed

[2017-06-20 20:18] meetmangukiya commented on #70
Merged :+1:

[2017-06-20 20:18] #70 closed

[2017-06-20 20:21] meetmangukiya commented on #24
Please iterate over org members and join chat with them, script is ready, run it! (note for self.)

[2017-06-20 20:24] meetmangukiya commented on #25
It is pretty easy now:
1. `docker pull coala/corobo`
2. `docker run -e <all the env vars that need to be set> --rm coala/corobo`
3. Bam! thats it :rocket:

[2017-06-20 20:24] #25 closed

[2017-06-20 20:25] meetmangukiya commented on #31
has been set to `corobo` for now

[2017-06-20 20:25] #31 closed

[2017-06-20 20:26] meetmangukiya commented on #35
moved

[2017-06-20 20:26] #35 closed

[2017-06-20 20:27] meetmangukiya commented on #33
Not important now, should be opened in gitlab.com/coala/GSoC-2017 instead

[2017-06-20 20:27] #33 closed

[2017-06-20 20:30] #75 closed

[2017-06-21 09:57] coala-bot opened #144 "Shorten help message"
Opened via [gitter](https://gitter.im/coala/coala/?at=594a43175bf0bef94cca3d6c) by @jayvdb

[2017-06-21 10:00] coala-bot opened #145 "Send long responses as direct messages only with short note in room"
Opened via [gitter](https://gitter.im/coala/coala/?at=594a43a1bf1bfe6770d43778) by @jayvdb

[2017-06-21 11:43] meetmangukiya commented on #145
help message is now diverted :+1:

[2017-06-21 16:26] meetmangukiya opened #147 "Include link to the gitter message that opened the issue"

[2017-06-21 16:29] meetmangukiya opened #148 "Add keyword bear to detect pdb"

[2017-06-22 09:38] meetmangukiya opened #149 "Write the channels corobo should be part of"

[2017-06-22 09:49] #125 closed

[2017-06-22 13:44] meetmangukiya commented on #147
https://github.com/errbotio/err-backend-gitter/issues/15

Cannot be done unless implemented in the gitter backend :worried:

[2017-06-22 15:05] jayvdb commented on #147
Do you plan to fix it upstream?
Is it feasible to run our own fork of that plugin if it isnt merged upstream?

[2017-06-22 15:10] meetmangukiya commented on #147
Yes, it might be feasible since the development isn't really that much on that repo, we might miss out on small things, but rebasing on regular intervals can work. But let's wait for upstream to respond :D ?

[2017-06-22 16:07] #18 closed

[2017-06-22 16:07] #17 closed

[2017-06-22 16:18] meetmangukiya opened #151 "utils: install requirements"

[2017-06-22 17:29] #151 closed

[2017-06-22 18:04] #139 closed

[2017-06-22 18:04] #140 closed

[2017-06-22 18:04] #142 closed

[2017-06-22 18:04] #143 closed

[2017-06-22 18:04] #148 closed

[2017-06-23 08:30] meetmangukiya commented on #147
Fixed upstream :+1:

[2017-06-23 13:07] meetmangukiya commented on #102
this doesn't qualify as an issue anymore

[2017-06-23 13:07] #102 closed

[2017-06-23 13:08] meetmangukiya commented on #39
current config file is doing pretty great for deployment :+1:

[2017-06-23 13:08] #39 closed

[2017-06-23 13:08] meetmangukiya commented on #39
Current commit : https://github.com/coala/corobo/commit/6a256a18da07039a5989c63bcd97630a4fa7523f

[2017-06-23 13:09] meetmangukiya commented on #144
Dupe of https://github.com/coala/corobo/issues/32

[2017-06-23 13:09] #144 closed

[2017-06-23 13:10] meetmangukiya commented on #145
Adds to https://github.com/coala/corobo/issues/32

[2017-06-23 15:01] yukiisbored opened #156 "Setup continuous deployment to solar.coala.io with Semaphore"
Having CD in place would speed up the deployment of corobo and I can get more sleep and anime.

[2017-06-23 18:04] meetmangukiya opened #157 "Typo in assign commands elligibilty message then->than"

[2017-06-23 18:09] meetmangukiya opened #158 "Replace all cobot occurences with BOT_PREFIX variable"

[2017-06-24 09:25] co-robo opened #161 "wa raises an exception on certain commands"
Example: `corobo wa this is a sentence` raises an uncaught exception

difficulty/low importance/medium
traceback:
[code]

[2017-06-24 09:40] meetmangukiya commented on #161
https://github.com/jaraco/wolframalpha/issues/13

[2017-06-24 15:03] co-robo opened #163 "Add command to display koala-bear images"
Ported from old cobot repo, opened by @Vamshi99

[2017-06-24 15:05] co-robo opened #164 "explain.coffee: Change the link from coala.io/git to the link to the header explaining rebasing"
Ported from old cobot repo, opened by @supergr35

[2017-06-24 15:06] co-robo opened #165 "Allow lmgtfy to be directed at a username"
Ported from old cobot repo, opened by @jayvdb - https://gitlab.com/coala/cobot/issues/71

[2017-06-24 15:09] co-robo opened #166 "Alias welcome to invite"
Ported from old cobot repo, opened by @jayvdb - https://gitlab.com/coala/cobot/issues/68

[2017-06-24 15:14] co-robo opened #167 "file issue should default repo based on gitter room"
Ported from old cobot repo, opened by @jayvdb - https://gitlab.com/coala/cobot/issues/53

labels: enhancement  difficulty/medium

[2017-06-24 15:28] co-robo opened #168 "labhub: Give invite warning for twitter"
Ported from old cobot repo, opened by @nemaniarjun - https://gitlab.com/coala/cobot/issues/60
labels: enhancement

[2017-06-24 15:30] co-robo opened #169 "Show cobot stats to show how cool our bot is! :P"
Ported from old cobot repo, opened by @meetmangukiya - https://gitlab.com/coala/cobot/issues/43
labels: plugin proposal, importance/medium, cool and awesome

[2017-06-24 15:32] co-robo opened #170 "explain: Add promotion requirements"
Ported from old cobot repo, opened by @hemangsk - https://gitlab.com/coala/cobot/issues/39
labels: enhancement, difficulty/low

[2017-06-24 15:35] co-robo opened #171 "List rebased PRs"
Ported from old cobot repo, opened by @jayvdb - https://gitlab.com/coala/cobot/issues/31
labels: plugin proposal, importance/medium, difficulty/high, cool and awesome

[2017-06-24 15:38] co-robo opened #172 "allow maintainers to tweet through gitter"
labels: enhancement, cool and awesome

[2017-06-24 15:39] co-robo opened #173 "send people messages to fill newcomer survey when they push their first commit"
Ported from old cobot repo, opened by @sils - https://gitlab.com/coala/cobot/issues/6

[2017-06-24 15:44] co-robo opened #174 "Add a 'show problem' command which finds one issue or wiki page which matches a single word search term"
This should work roughly like the bugzilla alias feature.
We can append one or more unique keywords to the issue title to emulate this feature.
The cobot command should report an error if multiple there are multiple hits, maybe including a github search link that shows the multiple hits.

Ported from old cobot repo, opened by @jayvdb - https://gitlab.com/coala/cobot/issues/74

[2017-06-24 19:17] #141 closed

[2017-06-25 12:43] ihsavru commented on #170
Can someone please explain this issue?

[2017-06-25 13:50] meetmangukiya commented on #170
This issue about adding one more explain term in the explain plugin which you might've figured.

Quoting from docs http://api.coala.io/en/latest/Developers/Newcomers_Guide.html?highlight=developers:

You will start as a newcomer, which is kind of a trial. If you complete the following tasks, you will become a developer at coala:
- run coala on a project of yours
- merge a difficulty/newcomer Pull

[2017-06-26 06:57] #170 closed

[2017-06-26 12:07] co-robo opened #176 "allow explain command to be directed at a username"

[2017-06-26 12:09] co-robo opened #177 "Shout at the user if user says CEP instead of cEP"

[2017-06-26 12:27] meetmangukiya commented on #177
Umm.. whoever has opened this issue, it is already implemented

[2017-06-26 12:27] #177 closed

[2017-06-26 13:25] #161 closed

[2017-06-27 04:36] meetmangukiya commented on #149
dynamic generation isn't possible.

[2017-06-27 05:05] #149 closed

[2017-06-27 08:59] seven-binoche commented on #157
I tried to assign myself to this issue using corobo assign.
I received the following message:

You are not eligible to be assigned to this issue.
A newcomer cannot be assigned to an issue with a difficulty level higher then newcomer or low difficulty.

But the label says newcomer. Any help?

[2017-06-27 10:03] co-robo opened #181 "Enhance issue assign failure message"
When an issue assignment fails, also suggest the developer that they might not be part of coala org yet, and the displays them the apt procedure to do so.

[2017-06-27 10:22] seven-binoche commented on #112
Can you specify what you mean by the 'coverage section'?

[2017-06-27 10:57] meetmangukiya commented on #112
create a new section coverage, see setup.cfg file in coala/coala repo.

[2017-06-27 14:14] prachi1210 commented on #181
@meetmangukiya was this what you had in mind?

[2017-06-27 14:45] #157 closed

[2017-06-27 18:03] #181 closed

[2017-06-27 19:17] meetmangukiya opened #184 "Newcomer shouldn't be able to assign to more than one newcomer issue"

[2017-06-28 05:41] yukiisbored opened #185 "deployment script should show what command is running"
this can be done by adding `set -e -x` to the first line of the script

[2017-06-28 05:46] yukiisbored opened #186 "AttributeError on receiving/sending messages"
`AttributeError` occurs when the bot received a message and (may be) send a message to the room. It ends up killing the thread pre-maturely thus make the bot "leave the room". This also happens with PMs.

[code]

[2017-06-28 05:46] yukiisbored commented on #186
I don't know if this is an upstream problem.

[2017-06-28 16:50] meetmangukiya commented on #186
Bug link: https://github.com/errbotio/err-backend-gitter/issues/25
Patch fixing the bug link: https://github.com/errbotio/err-backend-gitter/pull/26

Likely we will have this merged in less than couple of days

[2017-06-28 16:52] #147 closed

[2017-06-28 18:11] #186 closed

[2017-06-28 18:47] meetmangukiya commented on #156
Done :+1:

[2017-06-28 18:47] #156 closed

[2017-06-28 19:47] co-robo opened #189 "Corobo should work same for both github and gitlab developers"
Developers from both github and gitlab should be able to do the same things, like assign any issue, etc
Opened via [gitter](https://gitter.im//Monal5031?at=595407dc5a1ab55f64358b23) by @Monal5031

[2017-06-30 12:01] co-robo opened #190 "Rebuild CIs using corobo"
This should initially only work for developers/maintainers team
mockup : `corobo rebuild travis|circle`
labels: cool and awesome difficulty/low
Opened via [gitter](https://gitter.im/coala/coala/offtopic?at=59563d9319147ac323133e5e) by @meetmangukiya

[2017-06-30 22:01] #16 closed

[2017-07-02 11:29] #185 closed

[2017-07-02 18:08] meetmangukiya commented on #32
Shortened further. It hides the commands that the user cannot run

[2017-07-04 13:50] co-robo opened #194 "Flag ship it from main channels to avoid spam"
Opened via [gitter](https://gitter.im/coala/cobot-test?at=595b9d2419147ac323136ded) by @meetmangukiya

[2017-07-04 13:50] co-robo opened #195 "Flag echo from main channels to avoid spam"
Opened via [gitter](https://gitter.im/coala/cobot-test?at=595b9d4219147ac323136df3) by @meetmangukiya

[2017-07-06 14:14] meetmangukiya opened #198 "Labhub: `Created by user` can work for all backends, decouple it from backend specific gitter link"
line : https://github.com/coala/corobo/blob/master/plugins/labhub.py#L139

[2017-07-06 17:58] #198 closed

[2017-07-06 18:01] meetmangukiya opened #202 "labhub: Support gitlab subgroups in assign issues and create issue.."

[2017-07-06 18:03] meetmangukiya commented on #202
It already works for create issues

[2017-07-06 20:08] #202 closed

[2017-07-07 09:10] #194 closed

[2017-07-07 09:10] #195 closed

[2017-07-07 09:10] #176 closed

[2017-07-07 10:06] meetmangukiya commented on #99
I don't think we are reaching a conclusion, and plugin names doesn't really matter. They just appear in the help list.

[2017-07-07 10:06] #99 closed

[2017-07-07 10:23] #164 closed

[2017-07-09 15:27] meetmangukiya opened #208 "Default invite team should be newcomers"

[2017-07-09 15:27] meetmangukiya opened #209 "Invite should work with optional @"

[2017-07-09 15:46] #209 closed

[2017-07-09 15:54] meetmangukiya commented on #158
`self.bot_config.BOT_PREFIX` inside plugin class should give you the `BOT_PREFIX`

[2017-07-09 18:27] meetmangukiya commented on #208
Previous commit didn't add this feature, now it's a bug

[2017-07-09 18:42] #208 closed

[2017-07-10 15:18] #158 closed

[2017-07-11 03:30] co-robo opened #214 "Whitespace missing in invite developer success message difficulty/newcomer"
Opened by @jayvdb

[2017-07-11 03:31] co-robo opened #215 "invite command invoked inappropriately importance/high"
Opened by @jayvdb

[2017-07-11 03:32] jayvdb commented on #215
See gitter archive of today in coala room

[2017-07-11 17:33] vaibhavgarg11 commented on #214
with what file is this issue related to ?

[2017-07-11 17:49] meetmangukiya commented on #214
@vaibhavgarg11 adding a space between `ourcommunity` here https://github.com/coala/corobo/blob/master/plugins/labhub.py#L31

[2017-07-11 18:20] meetmangukiya commented on #214
@vaibhavgarg11 please assign yourself before you start working on the issue. Please go through Newcomer Guide, it is really helpful and has these things already mentioned. http://coala.io/newcomer

[2017-07-12 15:42] #19 closed

[2017-07-20 22:23] Makman2 opened #220 "Command "corobo" not found"
From https://github.com/coala/coala/issues/4492

[2017-07-20 22:23] Makman2 commented on #220
Filed originally by @susg.

[2017-07-21 01:56] meetmangukiya commented on #220
@susg can you provide the exact string used to issue the command?

[2017-07-21 05:58] susg commented on #220
corobo assign #4485

[2017-07-21 14:51] meetmangukiya commented on #220
@susg it is `corobo assign <link>` so if it was this issue it'd be `corobo assign https://github.com/coala/corobo/issues/220`

[2017-07-21 14:51] #220 closed

[2017-07-21 15:36] Makman2 commented on #220
@meetmangukiya the message is still very bad and needs improvement imo. Wanna reopen the issue for the sake of message improvement?

[2017-07-21 15:42] meetmangukiya commented on #220
@Makman2 this is upstream issue, and FWIW, I don't think there is anything that can be done about this. Since it takes all the messages starting with `corobo` as a command.. I'll checkout with errbot community

[2017-07-24 17:11] jayvdb opened #223 "Available username plugin"
I would love a plugin which checks if a username is available on a bunch of websites.

my target list is

- github
- gitlab
- bitbucket
- wikimedia
- openstreetmap
- openhub
- wordpress
- openSUSE

[2017-07-24 17:15] jayvdb commented on #223
https://github.com/WebBreacher/WhatsMyName is a possible way to support many sites.

[2017-07-24 17:17] jayvdb commented on #223
And possibly, enhance https://github.com/manu-chroma/username-availability-checker (low activity in coala in October 2016) : https://username-check.herokuapp.com/ - has REST-ish api : Facebook, Twitter, Instagram, Soundcloud, Github, Pinterest, & Tumblr.

Then the bot can use that service to do the grunt work.

[2017-07-24 22:26] ashwini0529 commented on #223
This seems interesting. I can try my hands on it?

[2017-07-24 22:28] ashwini0529 commented on #172
This looks interesting. Could I try developing this? ;)

[2017-07-25 02:14] meetmangukiya commented on #172
@ashwini0529 I kinda have a WIP, my bad I should've assigned myself

[2017-07-25 03:03] meetmangukiya commented on #20
Done, yet to deploy

[2017-07-25 03:04] #20 closed

[2017-07-25 03:06] meetmangukiya commented on #26
Irrelevant, we don't construct data sets now, we don't use topic modelling either.

[2017-07-25 03:06] #26 closed

[2017-07-25 03:09] meetmangukiya commented on #27
Irrelevant/outdated, we construct question graph and do analysis.

[2017-07-25 03:09] #27 closed

[2017-07-25 03:33] jayvdb commented on #223
Yes. Features upstream would be good place to start.

This can be used as auto helper for gitter people signed in using twitter if they dont yet have a github acct.

[2017-07-25 03:36] jayvdb commented on #223
https://github.com/manu-chroma/username-availability-checker/issues/15 and https://github.com/manu-chroma/username-availability-checker/issues/11

[2017-07-25 03:56] meetmangukiya commented on #28
Done via https://github.com/coala/corobo/pull/219 but different approach

[2017-07-25 03:56] #28 closed

[2017-07-25 03:57] meetmangukiya commented on #30
Done via #219 but different approach

[2017-07-25 03:57] #30 closed

[2017-07-25 03:57] meetmangukiya commented on #29
Done via #219 but different approach

[2017-07-25 03:57] #29 closed

[2017-07-25 05:13] co-robo opened #224 "Daily PR stats plugin"
Opened by @jayvdb at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=5976d35cf5b3458e307cdb70)

[2017-07-25 16:44] meetmangukiya opened #225 "Memory cache for invited users to avoid inviting again on helloworld trigger"

[2017-07-25 18:02] meetmangukiya commented on #83
We don't have a badge

[2017-07-25 18:02] #83 closed

[2017-07-25 18:03] meetmangukiya commented on #61
corobo is getting more and more less gitter specific, it is already possible to use it on telegram, slack, whatever backends errbot supports. Joining different backends in one instance wouldn't be possible I think

[2017-07-25 18:03] #61 closed

[2017-07-25 18:10] meetmangukiya commented on #37
I think we are stuck to `corobo` now and it is sinking in as well

[2017-07-25 18:14] meetmangukiya commented on #224
@jayvdb what kind of PR stats? New PRs opened/closed?

[2017-07-25 18:20] #225 closed

[2017-07-25 23:45] weaverbel opened #228 "What does it do and how does it work?"
Hi, this sounds like a great idea but a little intro would help people understand if it is something they might use.

[2017-07-26 12:09] Vamshi99 commented on #37
@meetmangukiya Did you see the number of people supporting `cobot` ?

[2017-07-26 12:39] co-robo opened #229 "coala_lowercase_c.py: Add an emoji to cEP lowercase message"
Opened by @Vamshi99 at [gitter//Vamshi99](https://gitter.im//Vamshi99?at=59788d934bcd78af56e95450)

[2017-07-26 13:01] adtac commented on #37
I still think skynet is a good idea too :P

[2017-07-26 13:03] co-robo opened #230 "corobo help command shows command pattern in regex"
For example consider current help message for assign command
`corobo ^assign\s+https://(github|gitlab)\.com/([^/]+)/([^/]+)/issues/(\d+) - Assign to GitLab and GitHub issues.`
It should be like `corobo assign <issue_link> - Assign to Gitlab or GitHub issues`
Opened by @Vamshi99 at [gitter//Vamshi99](https://gitter.im//Vamshi99?at=59789314a7b406262d315c58)

[2017-07-26 13:05] Vamshi99 commented on #37
@adtac Maybe, let's consider everyone's opinion.

[2017-07-26 13:11] adtac commented on #37
Of course

[2017-07-26 13:32] co-robo opened #231 "Newcomer's shouldn't be assigned to an unlabelled issue."
Opened by @Vamshi99 at [gitter//Vamshi99](https://gitter.im//Vamshi99?at=59789a01bc4647297428df7d)

[2017-07-26 13:34] meetmangukiya commented on #37
ok :+1:

Vote for corobo here

[2017-07-26 13:34] meetmangukiya commented on #37
Also, @Vamshi99 that was done here, don't you think? : :point_up: [June 5, 2017 12:55 PM](https://gitter.im/coala/community?at=59350780cf9c13503c549b0b)

[2017-07-26 13:36] meetmangukiya commented on #231
@Vamshi99 did you verify this, please provide a link then, because this should already be happening. It is already implemented.

[2017-07-26 13:40] Vamshi99 commented on #37
@meetmangukiya I haven't seen that message

[2017-07-26 13:46] Vamshi99 commented on #231
@meetmangukiya Yeah! I verified that, for example see this https://github.com/coala/landing-frontend/issues/162

[2017-07-26 13:48] meetmangukiya commented on #231
@Vamshi99 that is `coala-bot`, not `co-robo` assigning the issue, did you miss the username :P ?

[2017-07-26 14:34] Vamshi99 commented on #231
Okay it works, but I think we need to change the message here[1] that newcomer can't be assigned to an unlabelled issue.

[1] https://github.com/coala/corobo/blob/6d14a8333ae89e8a0ab249242834779b497e133b/plugins/labhub.py#L299-L300

[2017-07-26 14:35] Vamshi99 commented on #231
Feel free to close this

[2017-07-26 15:17] meetmangukiya commented on #231
we don't need to change that, we need to add a new message. `A newcomer cannot be assigned to unlabelled issues`, wanna do it :D ?

[2017-07-26 15:18] meetmangukiya opened #232 "LabHub: Add that a newcomer cannot be assigned to unlabelled issues"

[2017-07-26 15:18] meetmangukiya commented on #231
Opened https://github.com/coala/corobo/issues/232 in response to https://github.com/coala/corobo/issues/231#issuecomment-318072127

[2017-07-26 15:19] #231 closed

[2017-07-27 13:28] meetmangukiya opened #233 "Command "corobo" not found if command not found"

[2017-07-27 14:55] meetmangukiya commented on #233
see https://github.com/errbotio/errbot/issues/1070

[2017-07-27 15:15] meetmangukiya opened #236 "answers/extraction: Clone coala repo before using it"

[2017-07-29 11:06] Udayan12167 commented on #189
We feel that the user permissions should be captured from one place itself. As across platforms maybe user permission architecture changes.

[2017-07-29 11:09] Udayan12167 commented on #32
So a shorter help command with the option to get a fuller help command in PM. @meetmangukiya

[2017-07-29 14:10] meetmangukiya opened #238 "Remove singleton global DATA from answers/**"
All the data is stored in `DATA` and all the functions in `answers/extraction` modify the `DATA` variable, instead make all the manipulators accept data dict as a arg.

[2017-08-03 15:40] coala-bot opened #240 "Include "please accept the invite" in the welcome message"
Welcome @user! We've just sent you an invite via email. Please accept it before proceeding forward.

Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=598343e0329651f46ee93291) by @adtac

[2017-08-03 19:01] meetmangukiya opened #241 "Monitor uptime of corobo"
First steps:
1. Maintain two vars `no_of_messages_received` and `no_of_messages_sent`.
2. Assert that `no_of_messages_sent` > `no_of_messages_received`

This gives a vague indication whether the bot is working clearly or not.

Next steps:
1. Log messages received and reply sent for those messages in a db for better debugging

[2017-08-03 21:51] ashwini0529 commented on #223
Hey, I made a list of few plugins. I'm thinking to make an API for the same which would take the `username` and would return the status of the username in all the sites. 😄

[2017-08-04 15:02] jayvdb commented on #240
Would be nice if the bot can also listen for new team accepts, and then automatically message them more info.

[2017-08-04 15:07] #240 closed

[2017-08-05 08:57] ashwini0529 commented on #223
@jayvdb What are your thoughts on that?

[2017-08-05 09:32] co-robo opened #244 "Prevent newcomers from self-assigning when they have more than two open 'low' issues"
difficulty/low
Opened by @jayvdb at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=598590c919147ac32315011a)

[2017-08-05 10:21] co-robo opened #245 "Announce unmerged PR closes on the most appropriate room"
Opened by @jayvdb at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=59859c14329651f46ef17851)

[2017-08-05 21:34] SanketDG commented on #223
That's a nice target list at the top. However, I am not sure if we should account for proprietary websites like Facebook and Twitter. I would love to hear some constructive agreement/disagreement for this

[2017-08-06 09:30] meetmangukiya opened #246 "Add newcomer form to developer welcome message"

[2017-08-06 10:25] jayvdb commented on #224
Yup. Very basic.
My idea behind this was that this would be a simple command, and a separate scheduler would invoke this (and other) commands periodically.

[2017-08-06 17:32] ashwini0529 commented on #223
Hey @jayvdb I started developing a Python Script for the same. It checks `Github`, `Gitlab`, `Bitbucket` as of now. Working on other websites. :smile:
The link to the code is https://github.com/ashwini0529/is-username-available

[2017-08-08 16:12] meetmangukiya opened #248 "move steps to be executed in semaphore to a script"
Currently there are set from the semaphore UI of the repo. So, if a PR introduces a change in the CI, it has to be changed in the UI, which then changes for every branch, which is not good or feasible.

[2017-08-08 17:04] #248 closed

[2017-08-08 18:16] Alexander-N opened #250 "explain: Whitespace missing in explain google message"
There is a space missing in explain.py right after

`Keep this in mind: *You*`

difficulty/newcomer

[2017-08-08 18:22] Alexander-N opened #251 "Whitespace missing in newcomer welcome message"
There is a space missing in labhub.py right before

`Especially if you are new you have to be aware `

difficulty/newcomer

[2017-08-08 22:55] Acjenkins6440 commented on #251
I fixed the issue and am ready to create a pull request.

[2017-08-08 23:07] Alexander-N commented on #251
Hi, please follow http://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2017-08-09 00:40] jayvdb commented on #223
@ashwini0529 , please enhance https://github.com/manu-chroma/username-availability-checker , ideally so that it uses the data from https://github.com/WebBreacher/WhatsMyName .

@SanketDG , the objective is to help newcomers find a username that does not conflict with another existing open source/content developer.  To do that effectively, we need to mention any site which the proposed username is

[2017-08-09 00:57] jayvdb commented on #168
The process for twitter-authenticated users should be much better.

1. Is there a GitHub account with the same username?

If it is, automatically check if it is the same user.  This might be done using gravatar.

If not auto, ask the twitter user if they own the GitHub account with the same username.

2. Do they have a GitHub account at all.  Ask the twitter user directly.

3. If they do not have

[2017-08-09 03:48] #236 closed

[2017-08-09 03:48] #238 closed

[2017-08-09 07:17] ashwini0529 commented on #223
@jayvdb do you need an enhancement tool in https://github.com/manu-chroma/username-availability-checker? So should I contribute to that repository?
My idea was to make a standalone python script to fetch the required details that could be consumed by corobo directly. I think that would be a better option?

[2017-08-09 07:20] ashwini0529 commented on #223
Also, https://github.com/manu-chroma/username-availability-checker is rendering websites and checking the status codes which might not be a good practise as few websites don't provide a `404`. I think we should revamp it and make a standalone python script for that.
Please have a look at https://github.com/ashwini0529/is-username-available and let me know if this works?

[2017-08-09 11:49] co-robo opened #252 "File issue does not work for GitHub Pages repositories"
It looks like the regex for LabHub issue filer doesn't work for GitHub pages repositories.

examples of repo names:
* coala.github.io
* this.is.legit
Opened by @yukiisbored at [gitter//yukiisbored](https://gitter.im//yukiisbored?at=598af6daee5c9a4c5fa48927)

[2017-08-09 11:50] co-robo opened #253 "Disable LabHub when GitHub/GitLab token and org name isn't enabled"
Opened by @yukiisbored at [gitter//yukiisbored](https://gitter.im//yukiisbored?at=598af6eb76a757f8088ab137)

[2017-08-09 11:50] co-robo opened #254 "Add option to disable automatic room join"
Opened by @yukiisbored at [gitter//yukiisbored](https://gitter.im//yukiisbored?at=598af6f976a757f8088ab1fb)

[2017-08-09 11:51] co-robo opened #255 "Find a way to set the GitHub username"
LabHub assumes the username is always a GitHub username, while this works for gitter. It doesn't work for other platforms such as Telegram, IRC, etc
Opened by @yukiisbored at [gitter//yukiisbored](https://gitter.im//yukiisbored?at=598af73dee5c9a4c5fa48b15)

[2017-08-09 11:52] co-robo opened #256 "LabHub: Make it possible to set the default group for invite"
Some orgs may not have the "newcomer" group, It would be nice to have invite default group be able to change
Opened by @yukiisbored at [gitter//yukiisbored](https://gitter.im//yukiisbored?at=598af77cbc4647297468c8b3)

[2017-08-09 11:54] Raman1121 commented on #250
I would like to be assigned to this issue.

[2017-08-09 12:10] co-robo opened #257 "explain: Move hard coded explanations out of code"
It would be nice to be able to add and remove explanations to make it fit for another org.
Opened by @yukiisbored at [gitter//yukiisbored](https://gitter.im//yukiisbored?at=598afb9dbc4647297468dc48)

[2017-08-10 00:05] co-robo opened #259 "LabHub: Remove hardcode from the team name that are allowed to invite other people and administrative stuff"
Opened by @yukiisbored at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=598ba34c329651f46e067f55)

[2017-08-10 14:55] co-robo opened #260 "answers: Clone coala/documentation and parse those docs as well"
Opened by @meetmangukiya at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=598c73e80cef4fed2eb8f043)

[2017-08-10 17:44] co-robo opened #262 "answers: Pull image before building new image to avoid higher build times"
Opened by @meetmangukiya at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=598c9b9297cedeb04827b84e)

[2017-08-10 17:49] co-robo opened #263 "answers: summarize doesn't work for large texts"
Since the text to be summarized is passed as query parameters, if the text is longer than certain limit, then one gets a "Request Line Too Long" error from server(flask/gunicorn)

Maybe we should consider posting the text, or truncating the text off before sending it.

labels: importance/high bug
Opened by @meetmangukiya at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=598c9c9381cd9a5d7e

[2017-08-10 17:55] co-robo opened #264 "answers: Yield a link to google form for feedback"
The form should contain:
1. Question asked - Optional
2. Suggested answer was helpful - Yes/No - required
3. Message link - optional

Message link should be pre-populated by the plugin itself using query parameters in google form

labels: difficulty/low gsoc2017/phase3
Opened by @meetmangukiya at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=598c9e0a42d2f6102588ddf1)

[2017-08-10 17:57] co-robo opened #265 "answers: Return top 3 answers instead of 1"
This increases the chance of getting relevant results at the cost of user having to find better match. Since 3 answers are returned, summing up the text and giving the section link will increase the message size. Hence, only links will be yielded, with section names.

labels: difficulty/low gsoc2017/phase3
Opened by @meetmangukiya at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=598c9ea2

[2017-08-12 10:08] kashyap2108 commented on #251
Assign me the issue !!

[2017-08-12 10:15] amrx101 commented on #127
@meetmangukiya , It seems the required [change](https://github.com/Monal5031/coala-bears/blob/ffff8ea58f45ec6f972aa350085e45e02256da99/.coafile#L71) is already there or something else needs to be done for resolving this issue?

[2017-08-12 11:21] SanketDG commented on #251
assigned!

[2017-08-12 14:51] meetmangukiya commented on #127
@amrx101 yamllintbear has to be enabled in this repo just like it is enabled in that repo. You can use it as a reference

[2017-08-12 15:04] amrx101 commented on #127
@meetmangukiya , oh my bad. That's a different repo.

[2017-08-12 18:22] #246 closed

[2017-08-12 18:22] #262 closed

[2017-08-13 17:06] #263 closed

[2017-08-13 18:23] #260 closed

[2017-08-15 16:54] #264 closed

[2017-08-17 07:02] co-robo opened #274 "github status check plugin"
Opened by @jayvdb at [gitter/coala/coala/offtopic](https://gitter.im/coala/coala/offtopic?at=59953f79a7b406262d98e8b2)

[2017-08-17 07:02] co-robo opened #275 "gitlab status check plugin"
Opened by @jayvdb at [gitter/coala/coala/offtopic](https://gitter.im/coala/coala/offtopic?at=59953f8c80d90ca024098220)

[2017-08-19 18:21] co-robo opened #278 "README: Add gitter room badge linking to corobo channel"
Opened by @meetmangukiya at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=599881a219147ac32315abb9)

[2017-08-23 16:24] prashant0598 commented on #278
Please assign me this issue and if possible, guide me how can I fix this issue (I am new to open source)

[2017-08-24 18:55] #265 closed

[2017-08-24 19:31] #230 closed

[2017-08-24 19:31] #233 closed

[2017-08-25 09:48] Raman1121 commented on #278
@meetmangukiya Can you please explain a bit more what needs to be done on this issue?
Also, can you direct me to the location wherever the change is required?

[2017-08-28 13:06] co-robo opened #280 "Don't build and push docker image if the files in answers directory are not changed"
Opened by @meetmangukiya at [gitter/coala/coala/offtopic](https://gitter.im/coala/coala/offtopic?at=59a415370cef4fed2eb9b564)

[2017-08-29 13:09] #224 closed

[2017-08-29 19:50] co-robo opened #281 "Broken CI"
When master branch is built, `check_docker` doesn't build the image and hence, cannot be pushed, leading to CI failure. Answers image should be built when built on master. always.

importance/high
Opened by @meetmangukiya at [gitter/coala/cobot-test](https://gitter.im/coala/cobot-test?at=59a5c59066c1c7c477f4aae0)

[2017-08-29 20:11] meetmangukiya commented on #280
Done via e61571d86d9d9b03ca589d2867ad9c9687bb80e9 and 6a2180918f1ce13e1b50ba952e9f6c80c4373da9 and 98ebcbfc891a842f871ef9d3f45ac39a505899ed

[2017-08-29 20:11] #280 closed

[2017-08-29 20:17] #281 closed

[2017-08-30 05:01] meetmangukiya commented on #228
Hey @weaverbel I've tried answering these questions here https://github.com/coala/corobo/pull/283/files
It'd be great if you can have a look and see if there's still something missing :)

Thx!

[2017-08-31 17:41] meetmangukiya commented on #278
@Raman1121 it seems like @Shreya001 has completed the issue, maybe look for other newcomer issue on the repo :)

[2017-08-31 17:49] #278 closed

[2017-09-01 14:46] #36 closed

[2017-09-02 13:23] co-robo opened #284 "[Plugin Proposal]: Ping specific room when there are open PRs that are marked approved"
Opened by @meetmangukiya at [gitter/coala/coala/maintainers](https://gitter.im/coala/coala/maintainers?at=59aab0b3c101bc4e3a81c354)

[2017-09-02 15:42] #214 closed

[2017-09-02 21:08] Makman2 commented on #284
So some PR notification system, yeah why not :D

[2017-09-03 23:08] HarshKhatore commented on #232
@meetmangukiya Can you help we with this? I am a newcomer.

[2017-09-06 16:15] co-robo opened #288 "Add feature to conduct community polls"
Opened by @satwikkansal at [gitter/coala/coala/offtopic](https://gitter.im/coala/coala/offtopic?at=59b01f23162adb6d2e73feea)

[2017-09-07 08:14] aashraybhandar1 commented on #112
Is this issue still open for assignment?

[2017-09-07 08:29] meetmangukiya commented on #112
@aashraybhandar1  yes

[2017-09-07 08:55] aashraybhandar1 commented on #112
@meetmangukiya  do we have to just create a new section called coverage and place fail_under=100 in that section ?

[2017-09-07 16:20] meetmangukiya commented on #112
@aashraybhandar1 yes, that should be enough I think

[2017-09-08 18:56] HarshKhatore commented on #101
@meetmangukiya Can you please explain what needs to be done further in this issue?

[2017-09-12 13:09] sils opened #289 "The readme sucks!"
It doesn't show what this bot can do for me at all. This should be the first thing to do.

@meetmangukiya

[2017-09-12 13:13] waldyrious commented on #289
I'd suggest taking a look at https://github.com/RichardLitt/standard-readme.

[2017-09-12 16:56] co-robo opened #290 "Functionality to check issues filed for some criteria before being filed"
Opened by @meetmangukiya at [gitter/coala/gci](https://gitter.im/coala/gci?at=59b811cb614889d475ec570e)

[2017-09-13 01:56] co-robo opened #291 "prevent duplicate issue title"
Opened by @jayvdb at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=59b89035bc46472974282df0)

[2017-09-13 03:29] meetmangukiya commented on #291
Too heavy on requests I think, especially for coala and coala-bears repo, unless we store the data in db

[2017-09-13 08:51] SanketDG commented on #101
Um, use the DocStyleBear in the `.coafile`

[2017-09-14 03:51] jayvdb commented on #291
Isnt it one search request, and only the top results are needed?  Then post-process the results to look for an identical result.

Anyway, if you need a DB, I suggest that gitmate holds the DB and corobo asks it to do the work
https://gitlab.com/gitmate/GitMate-2-ideas/issues/17

[2017-09-14 04:46] jayvdb opened #292 "invite "me" could invite username of requester"
This was a PR for cobot https://gitlab.com/coala/cobot/merge_requests/34

[2017-09-14 04:51] jayvdb commented on #292
c.f. https://github.com/coala/corobo/issues/255

[2017-09-14 05:01] jayvdb commented on #189
Eventually a DB is needed to hold usernames across different systems, as unfortunately we have a few devs who have different usernames on gitlab vs github.  It could be just a google spreadsheet.

But most of our active developers have the same username, so that aspect could be ignored initially.

This feels like a problem that is easier solved in corobo than in gitmate.

Either the corobo invite

[2017-09-14 05:02] jayvdb commented on #173
Similar to https://github.com/coala/corobo/issues/245

[2017-09-14 05:11] jayvdb opened #293 "command 'repos' is broken"
It returns a table with nothing in it.

[2017-09-14 05:14] jayvdb opened #294 "Show repo url"
This should be part of the results of `repos` command, or a subcommand.

But currently it is broken. https://github.com/coala/corobo/issues/293

This was https://gitlab.com/coala/cobot/merge_requests/61 by @RohanVB 

[2017-09-14 06:10] jayvdb commented on #255
There is a similar problem for issues on GitLab repos, which ideally should mention a GitLab username instead of a GitHub username.

The GitLab issue also appears for the web-frontend with https://gitlab.com/coala/landing/issues/31

Ultimately, we need a database.  IMO, we should use a gspread or bitrix24 as the datastore.

[2017-09-14 06:23] sils commented on #291
shold be one search request, especially now with my latest improvements to IGitt you won't even have to waste a request if you work with the single issues since the partial data from the search response is reused

[2017-09-14 07:36] meetmangukiya commented on #293
I don't think there is one :/ The repos command shown in help is actually provided by errbot to search err plugins in case you are referring to that

[2017-09-21 05:36] vaibhavsingh97 commented on #289
@sils Can i work on this issue?

[2017-09-21 08:21] sils commented on #289
gotta ask @meetmangukiya IIRC he did some WIP stuff already?

[2017-09-21 12:51] meetmangukiya commented on #289
Yes, there's https://github.com/coala/corobo/pull/283

About to be merged

[2017-09-21 12:53] #228 closed

[2017-09-21 15:45] co-robo opened #295 "Do not invite users with `_twitter` suffix in the handle"
Opened by @adtac at [gitter/coala/coala](https://gitter.im/coala/coala?at=59c3dea9bac826f054e4a5b8)

[2017-09-21 20:04] vaibhavsingh97 commented on #101
@jayvdb Can i work on this issue?

[2017-09-24 09:13] co-robo opened #296 "Mention that users need to be a developer (and point to the requirements) if they try to assign a medium issue"
Opened by @adtac at [gitter/coala/coala](https://gitter.im/coala/coala?at=59c7771dcfeed2eb654459a4)

[2017-10-03 18:08] supergr35 commented on #293
If so, we may want to clear that up in the help description, since currently it could be easily misinterpreted.
CC: @meetmangukiya

[2017-10-03 18:13] supergr35 commented on #292
Can this be explained more clearly? The related PR for cobot doesn't seem to be directly related, unless I'm missing something.

[2017-10-03 18:20] meetmangukiya commented on #292
The invite command is restricted to only maintainers. This issue is about enhancing invite command such that if `corobo invite me` is called, the user issuing the command will be invited to the org.

Anything else that might be missing @supergr35

[2017-10-03 18:27] supergr35 commented on #190
I am interested in this one, but not quite sure of how to do it.

I assume https://docs.travis-ci.com/user/triggering-builds/ would be a good resource?

[2017-10-03 18:46] supergr35 commented on #292
Is that necessary considering we have the `Hello World` ? @meetmangukiya

[2017-10-03 18:55] Makman2 commented on #190
yes sounds like a good starting point @supergr35 :)
but not only travis ;)

[2017-10-04 02:31] supergr35 commented on #190
How would I get the travis "Access Token"? According to the guide you should use the CLI, which could be done with some additions to the docker image, but how do I get a token with access to Travis?

[2017-10-04 14:24] Makman2 commented on #190
Not sure, maybe it has to be preconfigured in travis and corobo? And manually set as a setting?
(CC @meetmangukiya, I don't know how this works 😅 )

[2017-10-12 12:46] #289 closed

[2017-10-15 10:16] meetmangukiya opened #299 "Add more squirrel images to ship it plugin"
Many links that were added initially have 400'd and have been removed, as of now there are only 4 squirrel images in the ship it plugin.

[2017-10-15 10:41] #292 closed

[2017-10-17 14:49] swapagarwal opened #302 "Bug while assigning"
In Gitter, the following conversation took place:
[code]
On the issue page, the correspondence contains:
[code]
I believe the unassignment by newbazz is a bug in corobo, and needs to be investigated.

[2017-10-17 20:04] prashant0598 commented on #299
@meetmangukiya Pls review #303

[2017-10-17 20:33] co-robo opened #304 "Fix labelling anamoly"
There are some PRs in review queue which are having both labels - process/wip as well as process/pending review. IMO corobo should use only latest label and remove the older one.
Opened by @prnvdixit at [gitter/coala/coala](https://gitter.im/coala/coala?at=59e668fe614889d475c8f18f)

[2017-10-17 23:59] Makman2 commented on #304
Yeah see this issue... :P
However, this is an issue with gitmate, moving the issue.

[2017-10-18 00:05] Makman2 commented on #304
Moved to https://gitlab.com/gitmate/open-source/gitmate-2/issues/195

[2017-10-18 00:05] #304 closed

[2017-10-18 00:06] Makman2 commented on #302
That shouldn't happen indeed.
CC @meetmangukiya

[2017-10-18 05:07] prnvdixit commented on #304
@Makman2 Yeah - I didn't found gitmate repo here (forgot about gitlab 😄)... Seems Right 😉... 👍

[2017-10-18 07:42] meetmangukiya commented on #302
This seems disastrous :/ This is not even corobo unassigning and I don't think he is a maintainer either

[2017-10-18 07:47] prnvdixit commented on #302
@meetmangukiya No, he's not actually. Also, I asked on gitter chat if he did something else other than assigning himself the issue (to reproduce the bug again) - He replied in negation. [October 17, 2017 8:25 PM](https://gitter.im/coala/coala?at=59e619f45c40c1ba79b0ad36)

[2017-10-18 08:09] meetmangukiya commented on #302
I don't think this is a bug in corobo, also if you see the time of activities, then one may notice that the unassignment and assignment differs by an hour. Also, I think @newbazz might've mistakenly unassigned himself(if that's even possible!) Maybe there has been some permission changes recently in github

For testing purposes, can any non-maintainer(@swapagarwal or @prnvdixit) try to unassign me

[2017-10-18 08:11] meetmangukiya commented on #302
One more piece of information: @newbazz is only part of newcomers team

[2017-10-18 08:15] meetmangukiya opened #305 "'corobo invite me' is triggering two cmd functions"
The invite command that only maintainers can use, and if any non-maintainer uses it, it responds with a failure message.
And invite me successfully invites the user. But there is one successful message and one error message since two commands are being triggered. This could be fixed by merging the two commands.

[2017-10-18 08:35] prnvdixit commented on #302
@meetmangukiya

Yeah, you can unassign yourself always 😄

I tried - It doesn't let me unassign you.. 👍

[2017-10-18 08:38] meetmangukiya commented on #302
I meant, mistakenly unassign the previous assignee, but you don't seem to be able to unassign me. It is quite mysterious how he could've unassigned someone from the issue.

[2017-10-18 08:40] prnvdixit commented on #302
@meetmangukiya BTW I can't see any difference in times between ```assignment``` and ```unassignment``` (```19 Hours ago``` for both) - Is it there? (Maybe difference of some minutes?)

[2017-10-18 12:41] co-robo opened #306 "Only allow GCI students to claim issues with "initiative/gci" label"
How to determine who are GCI students TBD.
Opened by @jayvdb at [gitter/coala/gci](https://gitter.im/coala/gci?at=59e74be881cd9a5d7e9f6a56)

[2017-10-18 13:14] swapagarwal commented on #302
@meetmangukiya I can't seem to unassign you either! 🤔

[2017-10-19 06:08] #305 closed

[2017-10-21 18:50] prnvdixit opened #307 "Add “invite me” in corobo help"
The “corobo help” command should list “invite me” too with a proper description.

Label: initiatives/gci

[2017-10-21 19:16] prnvdixit commented on #244
The same functionality was earlier in ```cobot``` and can be used from there probably.

[2017-10-22 15:37] co-robo opened #308 "allow developers to assign labels to issues"
Opened by @meetmangukiya at [gitter/coala/gci](https://gitter.im/coala/gci?at=59ecbb37f7299e8f531b2107)

[2017-10-22 18:25] co-robo opened #310 "Fix message when assigning gci issues"
Currently, the message says:
[code]
The last point should be printed on the newline.
Opened by @RJ722 at [gitter/coala/corobo](https://gitter.im/coala/corobo?at=59ece2b532e080696e10a39c)

[2017-10-24 16:14] Makman2 opened #311 "corobo Usage Stats"
Migrated from https://github.com/coala/coala/issues/4784

[2017-10-24 16:15] Makman2 commented on #311
From @Makman2:

[2017-10-26 00:17] prashant0598 opened #312 "Add ISSUE_TEMPLATE.md"
Add a file named ISSUE_TEMPLATE.md which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of coala repository for reference.

[2017-10-27 15:48] meetmangukiya opened #313 "Remove gitter specific things"

[2017-10-27 16:30] adtac opened #314 "Ask user to provide more details if it's a low-effort question"

[2017-10-27 16:40] meetmangukiya commented on #313
Currently it seems that only `create_issue_cmd` uses some gitter specific backend details

[2017-10-27 17:03] co-robo opened #316 "Add PULL_REQUEST_TEMPLATE.md"
Add a file named `PULL_REQUEST_TEMPLATE.md` which includes general information and guidelines for the author of Pull Request, you can see PULL_REQUEST_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f366dbe44c43700a8677f8)

[2017-10-27 17:20] prnvdixit commented on #314
I think second point might flag messages like
"Can somebody help me - installing coala gives these [errors](<paste-bin-link>)"

Maybe, add a check if some links are present in message?

[2017-10-28 04:56] co-robo opened #317 "Issue warning whenever someone is mentioned using `@` if the target is not a member of the org"
difficulty/low initiative/gci
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=59f40ddf81cd9a5d7e9fdb01)

[2017-10-28 05:14] RaiVaibhav commented on #317
I will try to look on this issue

[2017-10-28 05:48] prnvdixit commented on #317
@RaiVaibhav This is also a GCI issue 😉 (See description)

[2017-10-28 05:52] RaiVaibhav commented on #317
Oh it added in last i think

[2017-10-28 05:53] co-robo opened #318 "Add support for GCI webhooks"
See webhooks in https://developers.google.com/open-source/gci/resources/downloads/TaskAPISpec.pdf
difficulty/high
Opened by @jayvdb at [gitter/coala/gci](https://gitter.im/coala/gci?at=59f41b4751915d962afb3433)

[2017-10-28 19:06] #313 closed

[2017-10-28 19:18] meetmangukiya commented on #318
@jayvdb How do you intend to use the webhook in corobo?

[2017-10-29 09:46] co-robo opened #321 "Migrate answers service to a new repo"
Opened by @meetmangukiya at [Gitter](https://gitter.im/coala/corobo?at=59f5a384e44c43700a8f925d)

[2017-10-29 10:11] co-robo opened #322 "Allow developers to invite any member of the room"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala/gsoc?at=59f5a96db20c6424295fccb6)

[2017-10-29 10:14] co-robo opened #323 "fix bug in invite command regex; see gitter log"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala/gsoc?at=59f5a9e8d6c36fca31adf963)

[2017-10-29 10:37] stellargo opened #324 "Re - assign message"
If a user re assigns himself the same issue he is already assigned to , corobo replies

Would be nice to have a different message i guess

[2017-10-29 14:32] jayvdb commented on #215
https://github.com/coala/corobo/issues/323 has more occurrences

[2017-10-29 14:33] jayvdb commented on #295
Probably a dup of https://github.com/coala/corobo/issues/168

[2017-10-29 14:35] jayvdb commented on #119
triggering hello world creates an invite, so it doesnt matter how they are invited, the bot should act the same.

[2017-10-29 14:59] adtac commented on #295
Indeed, this is a subset of that issue. Closing.

[2017-10-29 14:59] #295 closed

[2017-11-03 08:27] meetmangukiya commented on #302
Not able to reproduce this issue, hence, closing it.

[2017-11-03 08:27] #302 closed

[2017-11-07 06:55] co-robo opened #328 "eligibility error should give the precise problem"
Currently it gives a list of possible problems, which is long and doesnt give precise guidance for what is the next step
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a0158ca0cef4fed2ebce02a)

[2017-11-09 10:55] #310 closed

[2017-11-09 11:40] #324 closed

[2017-11-09 12:20] prnvdixit opened #329 "Fix spelling of "eligility" in labhub.py"
Change all such occurrences to "eligibility".
label: initiatives/gci

[2017-11-09 16:35] Lucifer24 commented on #112
@meetmangukiya The person who had sent the PR for this issue has deleted his fork so can this issue be reassigned to me.

[2017-11-09 17:22] meetmangukiya commented on #112
@aashraybhandar1 are you still working on this?

[2017-11-09 20:35] jayvdb commented on #223
@ashwini0529 , we are going to use https://github.com/manu-chroma/username-availability-checker  .  See https://github.com/manu-chroma/username-availability-checker/issues ; specifically https://github.com/manu-chroma/username-availability-checker/issues/11#issuecomment-317619307 and https://github.com/manu-chroma/username-availability-checker/issues/15

[2017-11-09 20:44] co-robo opened #330 "Prevent people from being assigned to other peoples pull requests"
e.g. https://github.com/coala/documentation/pull/489 being assigned by @vipuldcoder, should be an error
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a04be2319147ac32319545a)

[2017-11-09 21:31] manu-chroma commented on #291
hey, I'd like to work on this one. I am not able to find any documentation for ``IGitt`` apart from the docstrings. Is that the complete documentation or am I looking at the wrong place?

[2017-11-09 21:45] sils commented on #291
Yes, that's all the docs we have ATM, sorry

On Nov 9, 2017 21:31, "Manvendra Singh" <notifications@github.com> wrote:

[2017-11-10 07:45] meetmangukiya commented on #330
@jayvdb it was @gitmate-bot who assigned that pull, @gitmate-bot syncs the assignees on issue with pulls

[2017-11-10 07:46] meetmangukiya commented on #330
Not related to corobo

[2017-11-10 07:46] #330 closed

[2017-11-11 16:23] co-robo opened #331 "Add .editorconfig file"
Our style follows the example given on http://editorconfig.org/ for Python and YAML
label: difficulty/low initiatives/gci
Opened by @mohitkyadav at [Gitter](https://gitter.im//mohitkyadav?at=5a07240b026aeaa02fffbf13)

[2017-11-12 23:22] Makman2 commented on #331
See editorconfig file in https://github.com/coala/coala

[2017-11-12 23:40] Makman2 commented on #330
Migrated to https://gitlab.com/gitmate/open-source/gitmate-2/issues/221

[2017-11-13 12:02] co-robo opened #333 "Ping PR author when marking WIP"
difficulty/low
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a0989d919147ac323197687)

[2017-11-14 09:55] yashovardhanagrawal opened #334 "corobo help not working"
When typing 'corobo help' in the gitter channel there is no response from corobo

I think this is an issue to be fixed

[2017-11-14 10:01] prnvdixit commented on #334
It is not replying in private chat either? Please check at https://gitter.im/co-robo 😉

[2017-11-14 10:05] yashovardhanagrawal commented on #334
@prnvdixit no its not replying in private chat either

[2017-11-14 10:07] yashovardhanagrawal commented on #334
actually, in the private chat, none of the corobo commands is working, I think they have not incorporated it there

[2017-11-14 10:17] prnvdixit commented on #334
I am confused, it works for me though....
cc @meetmangukiya ^^

[2017-11-14 10:58] yashovardhanagrawal commented on #334
It was not working at that time.. I tried it just now again.. same thing
it started working.
I think then there's no need for this issue

[2017-11-14 11:04] yashovardhanagrawal commented on #334
but yeah it is lagging a lot on personal chat... does not respond many a times

[2017-11-15 19:09] Makman2 commented on #334
Okay then @yashovardhanagrawal open a new issue for that problem, as `corobo help` itself seems to work :)

[2017-11-15 19:09] #334 closed

[2017-11-15 21:27] co-robo opened #335 "'mark pending review' should be accepted"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/corobo?at=5a0cb133505b630c05e98ddf)

[2017-11-15 23:52] Makman2 commented on #335
I think `mark pending-review` with a dash should also be allowed^^

[2017-11-16 11:51] co-robo opened #336 "Blacklist username from-somewhere-else"
It is the telegram bot
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a0d7ba3ba39a53f1aa8824f)

[2017-11-16 11:52] jayvdb commented on #336
Actually, I think it is the IRC bot

[2017-11-17 13:54] co-robo opened #337 "Ask people to not use 'sir' when they do"
Opened by @adtac at [Gitter](https://gitter.im/coala/coala?at=5a0ee9fbcc1d527f6b813e40)

[2017-11-17 21:28] prashant0598 commented on #328
@palash25 are u still working on the issue?

[2017-11-18 04:22] palash25 commented on #328
@prashant0598 I was going to but can't due to exams so you may go ahead.

[2017-11-18 11:54] SanketDG opened #339 "Store all the messages in a different module"
Messages are like data. Decoupling them in a separate module and then importing that would ease contributions and maintenance

[2017-11-19 11:24] jayvdb commented on #184
What is the status of this one?

[2017-11-19 11:26] jayvdb commented on #165
This should only allow pinging if the person operating the command is not a newcomer

[2017-11-19 11:28] jayvdb commented on #288
Dup of https://github.com/coala/corobo/issues/92

[2017-11-19 11:28] #288 closed

[2017-11-19 11:29] jayvdb commented on #37
Done.

[2017-11-19 11:29] #37 closed

[2017-11-19 14:21] yashovardhanagrawal commented on #145
@meetmangukiya can you help me here? I want to know how to proceed

[2017-11-19 14:30] yashovardhanagrawal commented on #145
do I have to add a new plugin here?

[2017-11-19 16:13] meetmangukiya commented on #145
@yashovardhanagrawal this is currently blocked by https://github.com/errbotio/errbot/issues/1071

You can find exact code of the function in the description. Maybe give it a try and see if the bug still prevails, if not create a PR :)

[2017-11-19 18:13] yashovardhanagrawal commented on #145
@meetmangukiya its working fine in Slack backend

[2017-11-19 18:25] meetmangukiya commented on #145
yeah, you need to test it with gitter backend @yashovardhanagrawal since it is working fine in text backend as well I think

[2017-11-19 18:33] yashovardhanagrawal commented on #145
the problem is I cannot check it with a gitter backend.. will it work on my private chat?

[2017-11-20 09:29] jayvdb commented on #293
It returns an empty table for me.

Does it work for anyone else?

If not, we should disable it?  Or can we fix it?

[2017-11-20 09:33] jayvdb commented on #255
And we also have this problem with Zulip, which is based on email addresses.

One approach is to have a 'github username' method, which each backend service implements to convert what it has, to a github username.

For the Zulip backend, it is easy to do an email address lookup via the GitHub API.

[2017-11-20 09:38] jayvdb commented on #168
Not all of the above process needs to be built for the first version of this.
If anything isnt built the first version; create new issues about the extra features to be built.

[2017-11-20 13:09] SanketDG commented on #293
Disable it, since its redundant partially to `corobo help` itself?

Also, disable anything that's redundant, right now the help message is pretty big.

[2017-11-20 15:58] meetmangukiya commented on #293
Actually yeah, we should disable this plugin

[2017-11-20 18:56] jayvdb commented on #38
https://github.com/ersiko/err-meetingbot might be more useful

[2017-11-20 18:57] jayvdb commented on #92
Dup of https://github.com/coala/corobo/issues/38 , I think

[2017-11-20 18:59] jayvdb commented on #38
This will make gci more fun.

[2017-11-21 14:18] yukiisbored commented on #255
@jayvdb Personally, using spreadsheet services is more of a hack rather than an actual solution for storing databases. Since this is essentially a key-value situation, something like Redis (or an even more permanent) solution would be preferable rather than a fully blown spreadsheet application for such athing.

[2017-11-22 08:30] jayvdb commented on #60
A breakage in corobo, or any repo?
With travis, there is build status, and build log.  And the log is a nightmare to parse ;-)

[2017-11-22 08:33] jayvdb commented on #171
There is some important discussion that occurred at https://gitlab.com/coala/cobot/issues/31

[2017-11-22 08:36] jayvdb commented on #174
Lots of similarity to https://github.com/coala/corobo/issues/109

[2017-11-22 08:39] jayvdb commented on #173
And ask them to fill in the newcomer survey.

[2017-11-22 08:44] jayvdb commented on #172
Shouldnt this be a separate err plugin?

[2017-11-22 09:17] jayvdb opened #342 "maintain a list of person that should be approached for a particular thing"
https://gitlab.com/coala/cobot/issues/4

[2017-11-22 09:19] jayvdb commented on #172
This was https://gitlab.com/coala/cobot/issues/9

[2017-11-22 09:25] jayvdb opened #343 "Add promotion requirements"
@hemangsk raised this as https://gitlab.com/coala/cobot/issues/39

That'll come in handy whenever a contributor is to be promoted

[2017-11-22 09:26] jayvdb commented on #343
It would be helpful to store our pending promotion requests inside corobo.
Then we can also interact with those requests in the chat rooms more easily.

[2017-11-22 09:27] jayvdb opened #344 "Add option to close an issue"
https://gitlab.com/coala/cobot/issues/30

[2017-11-22 09:40] jayvdb opened #345 "Mention the coala StackOverflow tag in lmgtfy"
https://gitlab.com/coala/cobot/issues/23

[2017-11-22 09:43] jayvdb opened #346 "List failed PRs"
Especially differentiate between failed commit message checks and failed CI builds

https://gitlab.com/coala/cobot/issues/18

[2017-11-22 09:45] jayvdb opened #347 "GitLab issues created on Gitter should link to github.com/<username>"
Since the issues are opened via gitter, the username of github is used, and it is not always safe to assume same username for gitlab as well

[2017-11-22 09:51] jayvdb commented on #174
Also more info at https://gitlab.com/coala/cobot/issues/57

[2017-11-22 09:52] jayvdb opened #348 "Create SO question plugin"
https://gitlab.com/coala/cobot/issues/57#note_24962773

[2017-11-22 10:39] jayvdb opened #349 "Always respond uniquely/directly to the request"
If multiple users are invoking commands, it can be difficult for newbies to know which response was intended for them.

if there is a unique part of the request, it should be repeated in the answer.

Otherwise, the bot should `@mention` the person it is responding to.

https://gitlab.com/coala/cobot/issues/56 was about the specific `assign` command error ~You're not a newcomer~ which doesnt indica

[2017-11-22 10:58] jayvdb opened #350 "Allow short and partial issue/PR URIs"
i.e. assign & mark should accept `foo/bar#1`

[2017-11-22 11:02] jayvdb commented on #293
https://github.com/coala/corobo/issues/32 is about making the help smaller ;-)

Disabling plugins is quicker ;-)

[2017-11-22 11:03] jayvdb commented on #32
Can we disable plugins first - e.g. https://github.com/coala/corobo/issues/293

[2017-11-22 11:16] jayvdb opened #351 "corobo isnt labelling"
e.g. https://gitlab.com/coala/package_manager/issues/162

I've been seeing this a lot lately.  Maybe the corobo function has been removed due to gitmate?  IMO that is not a good approach.

Or maybe something went wrong in the gitlab side of things.
I was retesting https://gitlab.com/coala/cobot/issues/70

[2017-11-22 12:24] co-robo opened #352 "Exception at startup if gitter token not provided"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/corobo?at=5a156c85982ea2653faf51dd)

[2017-11-22 12:29] co-robo opened #353 "Exception at start if default data directory does not exist"
And the defaul data directory does not exist
Opened by @jayvdb at [Gitter](https://gitter.im/coala/corobo?at=5a156dc4232e79134dbabd18)

[2017-11-22 13:03] co-robo opened #354 "Exception using Text backend with default config"
[code]

The default `BOT_ADMINS` is `['meetmangukiya']`
The default `BOT_ADMINS` first entry needs to start with `@`, as starting with `#` provokes https://github.com/errbotio/errbot/issues/1135
difficulty/low
Opened by @jayvdb at [Gitter](https://gitter.im/coala/corobo?at=5a1575b7982ea2653faf889b)

[2017-11-22 13:12] co-robo opened #355 "Load the bot admins from a GitHub team"
In addition to the configured bot admin, add from a team defined in the config
difficulty/medium
Opened by @jayvdb at [Gitter](https://gitter.im/coala/corobo?at=5a1577d6ba39a53f1acfc9f0)

[2017-11-22 13:28] jayvdb opened #356 "Command "command" not found."
We are regularly seeing `Command "foo" not found.` when the person correctly did `corobo foo ...`.
They used the wrong arguments, but the error returned is confusing.
It should tell them they gave the foo command the wrong arguments, and possible even force feed them the help in a DM to help them use the bot properly.

What is happening is that corobo is not doing partial matches on only the comma

[2017-11-22 13:34] jayvdb opened #357 "Initialise GitHub repositories from a static file"
During startup without a GitHub token in the environment (readme says it is optional) we see

[code]

In the even this occurs, the bot should recognise this situation, and fallback to loading a pre-prepared static list stored in the repo, which will be good enough for most development needs.

[2017-11-22 13:56] jayvdb opened #358 "Limit pitchfork command to developers"
https://github.com/coala/corobo/issues/36 requested "When issued by an authorized person to cobot,.." , however that bit wasnt done.
This needs to be fixed before GCI or there will be mayhem when this easter egg is found.

[2017-11-22 13:56] jayvdb commented on #36
Ahem. https://github.com/coala/corobo/issues/358

[2017-11-22 14:12] jayvdb opened #359 "Limit test commands to only operate in test rooms"
In the same vein as https://github.com/coala/corobo/issues/358 , commands like `corobo render test` should not be possible on the main rooms, even not in offtopic rooms.

[2017-11-22 16:00] jayvdb opened #361 "Move community stats command to a new plugin"
Somewhat related to https://github.com/coala/corobo/issues/357 , the `stats` command should be a separate plugin, and it should work for people using a token which does not have write access to the repositories.

The rest of that plugin is about enabling processes, relaying operations to the server on behalf of users.

The `stats` command is not related to that, and should be in a different plugin

[2017-11-22 16:25] co-robo opened #362 "Fix spelling mistake create_issut_cmd"
newcomer
Opened by @jayvdb at [Gitter](https://gitter.im/coala/corobo?at=5a15a4f12837ee5106b678b2)

[2017-11-22 18:08] meetmangukiya commented on #172
Up for grabs again

[2017-11-22 18:26] meetmangukiya commented on #347
Ideally a new function should be created in https://github.com/coala/corobo/blob/master/utils/backends.py which make relevant guesses on the basis of backend. So, if it is `gitter` map it to `github`, if it is `mattermost` most likely option is `gitlab`, etc.

[2017-11-23 17:56] co-robo opened #363 "Bot assigned and unassigned, and still believes it is assigned"
See coala/coala#4872 and gitter log.
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a170bdc232e79134dc3521b)

[2017-11-24 02:05] supergr35 opened #364 "Do not recognize explain while performing another command"
For example, I could type in
[code]
the output would say corobo can't explain that, but it would file the issue

[2017-11-24 03:01] jayvdb commented on #364
I believe this is a regex problem, and it applies to every command, and needs a generic fix.

[2017-11-24 03:02] jayvdb commented on #364
c.f. https://github.com/coala/corobo/pull/341

[2017-11-24 03:05] jayvdb opened #365 "Default COBOT_PREFIX should not be the same as the production value"
Currently if someone starts the bot, and connects it to a server with a corobo production instance, two bots will respond to any `corobo ...` command, which will get very ugly when there are 20 or 30 kids trying it, allowing kids to play tricks on each other.

[2017-11-24 03:13] jayvdb opened #366 "Production instance is relying on the default repository config"
Currently config.py contains
[code]

That means if the production service had set `COBOT_PREFIX`, using `cobot` wont work.
devops needs to fix this, and then this part of the config should be removed, as dev/test instances do not need an alt prefix by default.

But I tested, and the production instance does recognise `cobot ...`.

This is blocking https://github.com/coala/corobo/issues/365

[2017-11-24 03:13] jayvdb commented on #365
Likewise multiple bots will be responding to `cobot ..` currently, which is best solved by removing that default configuration entirely: https://github.com/coala/corobo/issues/366

[2017-11-24 03:28] jayvdb opened #367 "Update README.md to say BOT_ADMINS is space separated list"
`BOT_ADMINS` is a space separated list, like `ROOMS` and `IGNORE_USERNAMES`.
The readme should explain this.

[2017-11-24 04:00] jayvdb opened #368 "IGNORE_USERNAMES should be dynamic"
`IGNORE_USERNAMES` is a workaround for an upstream problem https://github.com/errbotio/err-backend-gitter/issues/12 , and can be removed after that is fixed.

Ideally it gets fixed upstream, real quick, because it isnt going to work with GCI kids running their own instances.

[2017-11-24 04:40] jayvdb opened #369 "Build BOT_IDENTITY using multiple env vars"
This is a good template for our `config.py` : https://github.com/rroemhild/docker-errbot/blob/master/config.py#L103

[code]

Needs to also keep backwards compatibility for `COBOT_TOKEN`, and update the readme.

[2017-11-24 04:42] jayvdb opened #370 "Deprecate COBOT_PREFIX"
The errbot default is `BOT_PREFIX` ; no benefit to having a different env var for corobo.

[2017-11-24 04:44] jayvdb opened #371 "Rename COBOT_ROOT to BOT_ROOT"
The env vars should be consistent with the naming system used by err, and the name "cobot" needs to die.

Need backwards compatibility for `COBOT_ROOT`, with a warning, as it will be removed after people have had a chance to change their scripts.

[2017-11-24 04:56] jayvdb opened #372 "Switch docker to collectively maintained Dockerfile"
https://github.com/rroemhild/docker-errbot is maintained for all backends.

An optional part of switching to using that Docker is making our `config.py` consistent with the one in that repo, such as

* [ ] #371
* [ ] #370
* [ ] #369

There is also a bit of work required in optimising the size of the docker at https://github.com/rroemhild/docker-errbot .

[2017-11-24 05:51] jayvdb commented on #321
Dont forget to update https://github.com/errbotio/errbot/wiki#2---answer

[2017-11-24 07:01] jayvdb opened #373 "Rewrite deprecate_cobot to be generic deprecate_bot_prefix"
The module and function names shouldnt mention `cobot` or `corobo`.
It should default to the values in `BOT_DEPRECATED_PREFIXES`

And then the entry here can be updated to be more appealing to other errbot users:

https://github.com/errbotio/errbot/wiki#16---deprecate_cobot

[2017-11-24 07:22] jayvdb opened #374 "Add meetingbot"
[err-meetingbot](https://github.com/ersiko/err-meetingbot) looks quite good from skimming the code.

Needs to be tested locally, then added to corobo's default setup.

Would also be good to add some info to the README.md upstream

[2017-11-24 07:24] yashovardhanagrawal commented on #364
but the test for the regex problem are creating errors, .coafile should be updated for that I think

[2017-11-24 07:26] jayvdb commented on #359
This can be achieved by modifying the configuration:

http://errbot.io/en/latest/user_guide/administration.html#access-controls

[2017-11-24 07:45] jayvdb opened #375 "Implement plugins seen & time"
Test and add these two to the default config

- https://github.com/Appleman1234/arisu/tree/master/Seen
- https://github.com/Appleman1234/arisu/tree/master/Time

Something a bit fun the play with, at least in test/offtopic rooms , and combined help people understand why someone isnt able to do a review of their PR, cause they are probably asleep.

[2017-11-24 07:49] jayvdb opened #376 "Investigate oEmbed/noembed plugins"
e.g.

https://github.com/Appleman1234/arisu/tree/master/Link

Depending on the backend, it would be good to have *well designed* /brief previews available for backends which do not have them.
For backends which have gnarly previews, like gitter, an oEmbed/Noembed approach will probably be less annoying, and the bot could also scream at people who drop links into the chat which show huge preview bo

[2017-11-24 08:21] jayvdb commented on #172
Possibly could implement err-social after https://github.com/fernand0/err-social/issues/1

[2017-11-24 08:26] jayvdb commented on #374
Also https://github.com/Team488/meeting-bot , which provides meeting planning capability.

[2017-11-24 08:37] jayvdb opened #377 "Investigate FAQ plugin"
https://github.com/roidayan/err-plugins/tree/master/faq

[2017-11-24 08:53] jayvdb commented on #376
Alternative https://github.com/errbotters/err-urlmatcher

[2017-11-24 09:12] jayvdb commented on #48
Well this was easy : https://github.com/jvasallo/err-stackoverflow

[2017-11-24 09:14] jayvdb commented on #374
Alternative https://github.com/pythiannunez/err-pythianbot
(which also provides https://github.com/coala/corobo/issues/375)

[2017-11-24 09:15] jayvdb commented on #374
https://github.com/markusj/titlebot-ng

[2017-11-24 09:28] jayvdb commented on #60
https://github.com/daenney/err-travishook

[2017-11-24 09:59] jayvdb commented on #375
Some alternatives

https://github.com/errbotio/err-time
https://github.com/Gnoffel/errbot-seen
https://github.com/jasedit/errbot-lastseen
https://github.com/errbotters/err-lastseen
https://github.com/pythiannunez/err-pythianbot
https://github.com/jerrykan/recordwho
https://github.com/ghoti/Rooster/blob/master/plugins/timeBot.py
https://github.com/errbotio/err-stalkerbot
https://github.com/aherok/e

[2017-11-24 09:59] jayvdb commented on #376
https://github.com/sparunakian/err-linksBot
https://github.com/mrshu/err-plugins
https://github.com/fookatchu/LinkParser

[2017-11-24 13:35] mohitkyadav commented on #359
@jayvd adding `render test` to this (line)[https://github.com/coala/corobo/blob/master/config.py#L33] will help?

[2017-11-25 10:18] jayvdb commented on #359
Yes, that could work, but it would also be worth testing turning off specific commands in specific rooms, per `ACCESS_CONTROLS` in http://errbot.io/en/latest/_downloads/config-template.py as mentioned previously.
If possible, we do not want people invoking these commands in the main rooms either, even with the results diverted, as lots of "one line" invocations is lots of noise when there are lots

[2017-11-25 11:28] yashovardhanagrawal commented on #145
I think I got it why [errbotio/errbot#1071](https://github.com/errbotio/errbot/issues/1071) is happening
So in gitter, the message of being diverted is shown twice, and this error is not due to upstream errbot. This error is happening because of the max character limit of gitter.
when we write corobo help we actually get two messages from corobo because the max character limit is 4096 characters b

[2017-11-25 12:10] mohitkyadav commented on #359
@jayvdb
I've made changes,
(commit)[https://github.com/mohitkyadav/corobo/commit/ad783e97496c47f804ab0387a51564918461aaf6]
(travis build)[https://travis-ci.org/mohitkyadav/corobo/builds/307101727] is successful.
Will this help limit the `render test` command only in **cobot-test** room.

[2017-11-25 14:58] aashraybhandar1 commented on #358
@jayvdb  How do I check if the person issuing the command is a developer? Do I have to use labhub to do the same?

[2017-11-25 20:32] aashraybhandar1 commented on #358
Also should pitchfork be part of labhub ?? @jayvdb

[2017-11-25 23:05] 0x48piraj commented on #345
@co-robo Will you please elaborate a little bit more ? I would like to take this task up!

[2017-11-26 04:03] co-robo opened #379 "review not aligned in the explain list"
When corobo is asked to explain something it doesn't know about, it displays a list of items it knows about, `review` - the first item in the list is not aligned. difficulty/newcomer
Opened by @RJ722 at [Gitter](https://gitter.im/coala/cobot-test?at=5a1a3d0d6b5080350f2f127d)

[2017-11-26 04:05] RJ722 commented on #379
Example Output:
[code]
The correct message should be:
[code]

An example message is here: https://gitter.im/coala/cobot-test?at=5a1a3d0dffa3e37919be091c

[2017-11-26 05:06] prnvdixit commented on #345
@0x48piraj The issue expects you to add https://stackoverflow.com/questions/tagged/coala **appropriately** in the lmgtfy.
Also, you have already taken up a newcomer issue - So, I will also recommend moving to higher difficulty issue and leave the newcomer issues for some actual newcomer 😛 👍.

[2017-11-26 05:16] 0x48piraj commented on #345
That's why I didn't assigned this issue to me :wink:

[2017-11-26 05:28] prnvdixit commented on #345
@0x48piraj Ahh... that's good.
BTW you should assign yourself the issue only after understanding it properly 😉
Anyway, Welcome to the community :tada:

[2017-11-26 06:27] EmilyOng commented on #371
Hello, I would like to work on this but could you point me to the direction what this statement means and how i should go about doing it?

Thanks 😄

[2017-11-26 10:25] sks444 commented on #379
I would like to work on this issue.

[2017-11-26 11:54] #352 closed

[2017-11-26 11:54] #353 closed

[2017-11-26 11:54] #354 closed

[2017-11-26 11:57] meetmangukiya commented on #351
Yeah, corobo never had a function to label issues. Since this was already been done by gitmate.

[2017-11-26 11:58] meetmangukiya commented on #350
Would be done via https://github.com/coala/corobo/issues/167

[2017-11-26 12:43] jayvdb opened #380 "Move constants into config using get_configuration_template"
`plugins/constants.py` should be removed, replaced with config variables defined using `get_configuration_template`

see http://errbot.io/en/latest/user_guide/plugin_development/configuration.html

[2017-11-26 12:49] jayvdb opened #381 "answers plugin: Should use get_configuration_template"
Replace environment variables with config variables
see http://errbot.io/en/latest/user_guide/plugin_development/configuration.html

[2017-11-26 12:49] jayvdb opened #382 "labhub plugin: Should use get_configuration_template"
Replace environment variables with config variables
see http://errbot.io/en/latest/user_guide/plugin_development/configuration.html

[2017-11-26 12:49] jayvdb opened #383 "wolfram_alpha plugin: Should use get_configuration_template"
Replace environment variables with config variables
see http://errbot.io/en/latest/user_guide/plugin_development/configuration.html

[2017-11-26 12:49] jayvdb opened #384 "utils/utils.py: do not use os.environ"
`COBOT_ROOT` is a config variable set in `config.py`.

The environment should not be accessed again in `utils.py`.
`utils.py` should use the bot configuration.

[2017-11-26 13:33] jayvdb commented on #350
No, this isnt about `file issue` ; this is assign and unmark, and `foo/bar#1` is precise.  #167 is about guessing the correct repo, and that is what the patch being developed is doing.

[2017-11-26 14:28] jayvdb opened #385 "Mention Zulip backend in README.md"
Opened by @jayvdb at [Zulip-GitHub]()

[2017-11-26 14:32] jayvdb opened #386 "Add Zulip support for message URI"
This is needed for `file issue` to record where the command was given
Opened by @jayvdb

[2017-11-26 14:54] jayvdb opened #388 "Delay loading GitHub org member list"
The org member list is not always needed, especially not in testing.
Opened by @jayvdb at [Zulip-GitHub]()

[2017-11-26 14:54] co-robo opened #389 "Add explanation for "do not ask to ask""
http://sol.gfxile.net/dontask.html
Opened by @adtac at [Gitter](https://gitter.im/coala/coala/maintainers?at=5a1ad5bb8b3a9e2c0c1c9f33)

[2017-11-26 14:55] jayvdb commented on #388
See also https://github.com/coala/corobo/issues/357

[2017-11-26 15:10] #215 closed

[2017-11-26 15:10] #323 closed

[2017-11-26 15:30] jayvdb opened #390 "Cache org member list in errbot storage"
Opened by @jayvdb at [Zulip-GitHub]()

[2017-11-26 15:45] co-robo opened #391 "File issue should not be permitted in private chat with bot"
The benefit of filing issues via bot is so that other people can read them before they can be claimed,
allowing others to help detect duplicates, and ensure the issue is correct/desirable.
Also, the archive link for private messages will not work.
Opened by @jayvdb at [Gitter](https://gitter.im//jayvdb?at=5a1ae19ae606d60e340e987e)

[2017-11-26 15:46] jayvdb commented on #391
This issue was created in a private message, with the useless archive URL included ;-)

[2017-11-26 15:52] jayvdb opened #392 "file issue: Should not generate a hyperlink if the backend didnt provide one"
Only Slack and Gitter currently have a URL for each message; Telegram and other backends return '', which results in an empty URL, a self-ref.
Opened by @jayvdb at [Zulip-GitHub]()

[2017-11-26 15:54] jayvdb commented on #392
markdown used here: `Opened by @jayvdb at [Zulip-GitHub]()`

[2017-11-26 16:05] jayvdb opened #393 "Default BOT_ADMINS should be @localhost for backend Text"
Opened by @jayvdb

[2017-11-26 16:16] jayvdb opened #394 "Move gitter URL creation upstream"
The slack backend adds the message archive url to `msg.extras['url']`, and the gitter backend could do the same.
Then the file utils/backend.py can be removed.
Opened by @jayvdb at [Zulip-GitHub]()

[2017-11-26 17:33] jayvdb commented on #394
launched https://github.com/errbotio/err-backend-gitter/pull/32

[2017-11-26 18:25] jayvdb commented on #386
Rather than add it to utils, I've created an issue upstream https://github.com/zulip/errbot-backend-zulip/pull/6, and sent a WIP-ish patch upstream https://github.com/zulip/errbot-backend-zulip/pull/7 .
I suspect the Zulip backend cant easily build these URLs.  At least some URL creation algorithms need to be added to the python-api-library.

c.f. https://github.com/coala/corobo/issues/394

As thi

[2017-11-26 19:50] aashraybhandar1 commented on #349
Can you elaborate bit on the unique part of the request? What does that mean?

[2017-11-27 01:38] jayvdb commented on #252
This requires writing tests, and that tests are not newcomer level in corobo due to its current state.

[2017-11-27 01:59] meetmangukiya opened #398 "Refactor tests"
Use `mock.patch` instead of manual monkey patching

[2017-11-27 02:04] #393 closed

[2017-11-27 02:24] #379 closed

[2017-11-27 03:50] jayvdb commented on #349
Either the bot response should be unique , by including e.g. an issue URL , or it should mention the person who it is responding to.

[2017-11-27 03:52] jayvdb commented on #349
This is bit of an audit task - there are quite a few corobo plugins which respond without any clear indication who they are responding to.

We need to work out which ones need to be fixed.

e.g. `assign` , and I think there is another issue about `lmgtfy`

however maybe `nevermind` plugin doesnt need to ping the person calling it.

[2017-11-27 03:54] jayvdb commented on #349
https://github.com/coala/corobo/issues/333 is another issue about this

[2017-11-27 04:00] jayvdb commented on #307
Note the help is found associated with the `invite_cmd` in `labhub.py` , in the `re_cmd_name_help`

[2017-11-27 04:06] jayvdb commented on #336
It should be added to the default `IGNORE_USERNAMES` in config.py

[2017-11-27 04:14] yukiisbored commented on #366
Currently, prod instance doesn't have `COBOT_PREFIX` set. `BOT_ALT_PREFIXES` should be set to `os.environ.get('COBOT_ALT_PREFIXES', '').split()` instead of making this the default.

[2017-11-27 04:17] supergr35 commented on #364
Should we open a general issue to add `^` and `$` to the end of each regex?

[2017-11-27 04:21] yashovardhanagrawal commented on #364
@supergr35 actually you're right, I think we should open a general issue for that
and the tests for them also can be done like in my PR #341

[2017-11-27 06:02] jayvdb commented on #366
@yukiisbored , you are missing the point.

`BOT_ALT_PREFIXES` is currently the default values ***on production***, which means if we change this in #365, production will fail.

Can you please do `git grep environ`, and ensure every environment variable is hard coded in the production instance, and not using a default value.

And then we also have to plan how we migrate production values that are o

[2017-11-27 06:48] yashasingh commented on #367
I would like to work on this issue. But corobo won't assign me. Please help.

[2017-11-27 08:00] jayvdb commented on #254
@yukiisbored , I dont understand this issue.  is this a gitter specific problem?  I've created a label for gitter.

[2017-11-27 08:03] jayvdb commented on #357
This is almost a dup of https://github.com/coala/corobo/issues/253 .
I'll remove the token part , so it is only about type of token, as it needs to be an org admin token.

[2017-11-27 08:04] jayvdb commented on #253
During startup without a GitHub token in the environment (readme says it is optional) we see

[code]

[2017-11-27 08:10] jayvdb commented on #333
To work on any backend, this requires fetching the identity of the PR author, hence moving to medium difficulty.

[2017-11-27 08:37] yukiisbored commented on #254
Not sure if the problem still exists, but on startup corobo tries to join everyone's PM

[2017-11-27 08:52] jayvdb commented on #254
@meetmangukiya , can you clarify if this is still a problem?

[2017-11-27 09:07] jayvdb commented on #392
Blocked, waiting for backend patches to be merged, as that will mean less patches.

[2017-11-27 09:15] meetmangukiya commented on #254
Yes, it joins everyone's PMs, else it won't be able to reply to users commands

[2017-11-27 09:22] jayvdb commented on #254
Perhaps related to https://github.com/coala/corobo/issues/119 ?

[2017-11-27 09:25] jayvdb commented on #163
We need to find where the old koala-bears images have been stored.

[2017-11-27 09:27] jayvdb commented on #377
Our `explain` plugin could potentially be replaced by an FAQ plugin.

[2017-11-27 11:14] yashasingh commented on #389
@adtac Where does the explanation for "do not ask to ask" needs to be added ? I would like to work on this issue.

[2017-11-27 11:25] yashasingh commented on #350
@jayvdb I would like to take up this issue.

[2017-11-27 11:35] Vamshi99 opened #401 "Labhub.py: Add help message for pr_stats command"
We can add help message using re_cmd_name_help.

[2017-11-27 11:37] yashasingh commented on #370
@jayvdb I want to take up this issue.

[2017-11-27 12:08] yukiisbored commented on #366
Done desu! https://github.com/coala/devops/commit/42a353caeb4a238529637082f8c3ecd6194f6b5c

[2017-11-27 12:13] jayvdb commented on #366
No, please re-read my comment above.

[2017-11-27 12:35] #364 closed

[2017-11-27 12:35] meetmangukiya opened #402 "Plugin that'd detect re_botcmd's that are not fullmatches"

[2017-11-27 12:43] yukiisbored commented on #366
There https://github.com/coala/devops/commit/b86e202c086000dab571b47ff7a30d444fb6339c

[2017-11-27 14:40] meetmangukiya commented on #389
@yashasingh in the explain plugin: `plugins/explain.py`

[2017-11-27 15:35] Vamshi99 commented on #370
@yashasingh You can use `corobo assign <issue_link>` in our gitter channel to get assigned to this issue.

[2017-11-27 15:57] Vamshi99 commented on #363
@jayvdb The issue from seeing gitter log is that user was not able to use assign as he wasn't a part of organisation. Bot works fine with assigning and unassigning.

[2017-11-27 19:21] yashasingh commented on #370
@Vamshi99 I cannot assign myself this issue, because it does have a newcomer tag. Please help.

[2017-11-28 02:01] jayvdb commented on #366
I think that does it.

[2017-11-28 02:01] #366 closed

[2017-11-28 02:04] #373 closed

[2017-11-28 14:09] jayvdb opened #407 "filters plugin uses msg.frm.room which does not exist for DMs on Zulip"
7dcc1e07 introduces filters.  On Zulip, in direct messages, this causes

[code]

[2017-11-28 17:25] jayvdb commented on #407
fyi. I need to recheck this.  There is a small chance that this was related to development only.

[2017-11-28 18:37] Vamshi99 commented on #344
@jayvdb Can we limit this command to devs and maintainers?

[2017-11-28 18:37] Vamshi99 commented on #344
@jayvdb Can we limit this command to devs and maintainers?

[2017-11-28 19:19] jayvdb commented on #306
Three options.

1. Create a GCI team and populate it manually.
2. link GitHub identity with GCI system, which is not easy as it dont provide any serious identity for students in their API , only 'display name'
3. Allow assignment of GCI issues that have been claimed in GCI - that is pretty easy to do with their API.

[2017-11-28 19:41] #362 closed

[2017-11-28 20:27] #252 closed

[2017-11-28 21:14] #166 closed

[2017-11-28 21:15] co-robo opened #412 "Update the default channel list"
The default list is stored in `config.py`

low, newcomer, gci
Opened by @jayvdb at [Gitter](https://gitter.im/coala/corobo?at=5a1dd1ebe5ed52e26c9d7e76)

[2017-11-28 21:40] Makman2 commented on #344
Actually I don't want to give developers the control to close issues, I think maintainers should take a look and decide whether an issue is solved/valid/etc, because they usually have a better overview of the situation / know where to get the relevant information.

As maintainers are already able to close issues/PRs to their likings directly via GitHub UI, I would vote to tag this issue as `invali

[2017-11-28 21:42] Makman2 commented on #370
`COBOT_PREFIX` should be deprecated, so corobo detects when it's used and gives a warning that it will soon stop working.

[2017-11-28 22:02] Makman2 commented on #350
Code can (and should) be reused from my PR at https://github.com/coala/corobo/pull/297
However testing is the problem, as the test frontend doesn't support needed fields (which seem to exist in the gitter frontend).

[2017-11-28 22:05] Makman2 commented on #254
Can't it join PM rooms only when it's necessary?

[2017-11-28 22:09] Makman2 commented on #398
Is it really that difficult @meetmangukiya ? :)

[2017-11-29 02:44] meetmangukiya commented on #254
How'd it determine someone messaged the bot unless it is listening to the private rooms? :)

[2017-11-29 02:46] meetmangukiya commented on #344
IMO if an issue is opened through corobo then the only person that should be able to close it with corobo should be the original issue author

[2017-11-29 02:47] meetmangukiya commented on #412
You mean gitter room for documentation?

[2017-11-29 03:01] jayvdb commented on #306
@andrewda helped us find another related problem.
The GCI tasks include "medium" difficulty tasks, and the bot also tells them no, because they havent finished the https://coala.io/newcomer process (yet).

[2017-11-29 03:33] meetmangukiya commented on #306
Actually medium level is developers only

[2017-11-29 03:36] jayvdb commented on #306
Right, but that doesnt work when we have medium and hard level tasks in GCI, and we dont have 'do code review' tasks for GCI participants.

[2017-11-29 03:45] prakashdanish commented on #306
Does having a team solve this issue? Can we have different rules for corobo for different teams?

[2017-11-29 03:51] jayvdb commented on #306
Yea, that was option 1 above -- I didnt explain it very well ;-)

[2017-11-29 04:52] #384 closed

[2017-11-29 05:15] Vamshi99 commented on #412
Yeah! add gitter documentation channel https://gitter.im/coala/documentation in the channel list.

[2017-11-29 08:05] #333 closed

[2017-11-29 08:24] jayvdb commented on #386
Merged upstream

[2017-11-29 08:24] #386 closed

[2017-11-29 08:49] Vamshi99 commented on #412
Whoever takes this issue, also add channels mentioned in https://github.com/coala/coala/wiki/Communication-Channels which aren't in default channel list.

[2017-11-29 11:54] Makman2 commented on #254
Doesn't it get a join notification if the user wants to go into a PM session with the bot?

[2017-11-29 11:56] Makman2 commented on #344
Even in that case I'm not always sure. Sometimes they might close them because they think they filed them "badly" (e.g. typo) instead of editing them (although only maintainers can do this), or because of other reasons.

[2017-11-29 14:55] #335 closed

[2017-11-29 14:59] andrewda opened #418 "IGitt: Expose MR/PR author"
The MergeRequest author needs to be available for some of the corobo enhancements planned.

Upstream MR: https://gitlab.com/gitmate/open-source/IGitt/merge_requests/159

[2017-11-29 15:39] co-robo opened #419 "Use IGitt's PR/MR author to ping users"
We should use IGitt's PR/MR author property to ping users instead of fetching it ourselves from the data. See: https://gitlab.com/gitmate/open-source/IGitt/commit/823f2d9f714bbbc380b442f35187c6f60f65f33b
difficulty/low initiatives/gci
Opened by @andrewda at [Gitter](https://gitter.im/coala/corobo?at=5a1ed49fe5ed52e26ca2b5cc)

[2017-11-29 15:44] andrewda commented on #418
Upstream MR merged 👍

[2017-11-29 15:44] #418 closed

[2017-11-29 15:45] Mixih commented on #171
Assigned per GCI task

[2017-11-29 16:34] sils commented on #418
thanks @andrewda :+1:

[2017-11-29 17:39] meetmangukiya opened #420 "Remove github3.py as a dependency"
Most of the functionality is used via `IGitt`, other than few org stuff, so ideally we should implement whatever is missing upstream and then remove `github3.py`

[2017-11-29 17:44] jayvdb commented on #420
Please create upstream issues for whatever is missing in IGitt.

[2017-11-29 20:48] LifetimeAlone commented on #306
Maybe it's possible to do something using GCI API?
Participants may post their GitHub profile link in task interface comments, and corobo may automatically assign issues to them.

[2017-11-29 22:05] margobra8 commented on #306
@LifetimeAlone I think that associating each student that claims a task published in GCI to the corresponding issue is very time consuming and difficult because it could run into some problems:

- The issue might be closed or fixed by another contributor (as they are opened to public contributions as well as GCI), rendering the GCI-issue connection unusable.
- Abandoning a task and then another st

[2017-11-30 02:46] #419 closed

[2017-11-30 08:35] nalinbhardwaj commented on #391
I'll take this up. Corobo doesn't want to assign this, but it doesn't seem too hard to me.

[2017-11-30 14:28] Makman2 opened #422 "coafile/commit section: Enhance rules (like on other coala repos)"
We are currently missing a max-shortlog-length, imperative mood check and issue reference check.

[2017-11-30 14:53] Makman2 commented on #422
Seems that actually we have already the checks from the `coala/coala` repo, we could additionally add the issue-reference settings from `coala/coala-bears`.

What actually confused me is that gitmate was not complaining on this PR, where the commit violates the style rules: https://github.com/coala/corobo/pull/404

[2017-11-30 15:32] Makman2 commented on #306
No only to GCI students. Issues are tagged with `initiatives/gci` and public contributors can't get assigned to them.

If the google API supports sending events, then we don't have this problem. And also checking assignments every 1/5 minutes is imo not really inefficient ;) A performance bottleneck is something different ;)

[2017-11-30 15:36] Makman2 commented on #351
Looks like this issue is invalid ;)

[2017-11-30 15:36] #351 closed

[2017-11-30 15:48] Makman2 commented on #356
It's generelly advisable to use `arg_botcmd` and define a shell-like syntax :+1:

[2017-11-30 15:51] Makman2 commented on #356
Then you can usually post-process arguments but the command is still directed to the right function :+1:

[2017-11-30 16:02] margobra8 commented on #306
@Makman2 Thanks for pointing out. I didn’t know that issues tagged with `initiatives/gci` were restricted to GCI participants.
And also the performance bottleneck was the word I was looking for instead of “inefficient” thanks for mentioning it (English is not my mother tongue).

[2017-11-30 16:19] meetmangukiya opened #424 "Create CoroboTestCase that'll handle all the testing and mocking problem for good"

[2017-11-30 16:21] Vamshi99 commented on #356
In my opinion, existing code is short and simple, using `arg_botcmd` makes the code complex.

[2017-11-30 16:24] meetmangukiya commented on #356
I think this problems can be solved by not using `re_botcmd` everywhere. Only use it where it is extremely necessary. That way errbot has complete context and better metadata to report the errors appropriately.

[2017-11-30 16:24] meetmangukiya commented on #356
I think this problems can be solved by not using `re_botcmd` everywhere. Only use it where it is extremely necessary. That way errbot has complete context and better metadata to report the errors appropriately.

[2017-11-30 16:30] Makman2 commented on #356
But when it doesn't match your regex again, we get this message another time ;)

[2017-11-30 16:30] Makman2 commented on #356
And `arg_botcmd` is actually very simple^^ It maybe adds 1 or 2 lines of overhead^^

[2017-11-30 16:32] Makman2 commented on #306
No worries ;)

However making a regular timely-based check is imo no problem from performance-side.

[2017-11-30 16:33] Makman2 commented on #255
Maybe we also add some `crosslink` command for linking accounts into a single "corobo-account-entity"? (that bases on github)

[2017-11-30 16:33] Vamshi99 commented on #356
Which message are you referring to?

[2017-11-30 16:35] Makman2 commented on #356
`Command "xyz" not found.`

[2017-11-30 16:36] #92 closed

[2017-11-30 16:36] im-Nishant commented on #328
Please also read this gitter discussion to get the things more clear https://gitter.im/coala/corobo?at=5a20304dcc1d527f6bd4b3b8

[2017-11-30 16:38] Vamshi99 commented on #356
Yeah! that's what I almost fixed here, I am just getting some queue empty error here. Can you check my PR https://github.com/coala/corobo/pull/406

[2017-11-30 16:42] Makman2 commented on #356
That's why you should rather use `arg_botcmd` ;)

[2017-11-30 16:50] Vamshi99 commented on #356
Okay, the commit completely fixes the error, I just have some optional args error with `assign`and `pr stats` command`(it works perfectly with other commands). I request a review from you https://github.com/coala/corobo/pull/406

[2017-11-30 16:56] co-robo opened #425 "Update corobo message accordingly if a newcomer tries to assign a issue above `difficulty/low` level."
Opened by @im-Nishant at [Gitter](https://gitter.im/coala/corobo?at=5a2038353c69dd4917097b7b)

[2017-11-30 17:11] im-Nishant commented on #425
This message should be more precise for a newcomer who haven't solved any issue and for the one who has solved only `difficulty/newcomer` issue.(go through `Labhub.py` file)

If you have any other confusion go through gitter chatlog, https://gitter.im/coala/corobo?at=5a20304dcc1d527f6bd4b3b8

[2017-11-30 17:24] co-robo opened #426 "Bug: labhub returns api url instead of html url"
Change `.url` to `.web_url`. For more information about the API, see [IGitt repo](https://gitlab.com/gitmate-2/open-source/IGitt)
labels: difficulty/newcomer initiatives/gci
Opened by @meetmangukiya at [Gitter](https://gitter.im/coala/corobo?at=5a203eb9ba39a53f1a03e2d9)

[2017-11-30 17:50] jayvdb commented on #425
I'm pretty sure we already have an issue about that.

[2017-12-01 03:49] jayvdb commented on #426
This isnt just "create issue" ; it applies to all `.url` in `labhub.py`

[2017-12-01 03:52] jayvdb commented on #422
gitmate is weird lately.
We need CI to be using coala-ci as a fallback

[2017-12-01 08:56] im-Nishant commented on #425
Actually i thought that too. Searched and got a similar existing issue https://github.com/coala/corobo/issues/328 but in gitter discussion it concluded to be different from this, so created a new one.

[2017-12-01 11:24] RaiVaibhav commented on #425
dupe https://github.com/coala/corobo/issues/296
maintainer close this PR

[2017-12-01 12:59] yashasingh commented on #422
@Makman2 I was going through the issue and I realized that [line 30](https://github.com/coala/corobo/blob/b8ad75de17ffb45ee0700ad3c118498fa81c0696/.coafile#L30), comparing with other coafiles [coala-bears](https://github.com/coala/coala-bears/blob/1a7c514aff65d804d86ca4df6ea2b51adc5403cc/.coafile#L38) and [coala](https://github.com/coala/coala/blob/a4b2e94b7832105b93bd9f52ca04235a6ef6b9f8/.coafile

[2017-12-01 13:02] yashasingh commented on #370
@Makman2 I wanted some guidance over this issue.
To my knowledge, I find changes are to be made only in config.py by replacing COBOT_PREFIX with BOT_PREFIX. But referring file changes in https://github.com/coala/corobo/pull/400/files , Do I have to make changes in any plugin or create one??
Where in the code for deprecating 'COBOT_PREFIX' be written, in which file ? So that corobo detects when it'

[2017-12-01 13:03] jayvdb opened #433 "SSL problem with corobo builds"
Travis CI and Semaphore CI are both showing errors like

[code]

Very likely a problem in the versions of the dependencies used by corobo, as Python 3.6.3 builds of `coala/coala` do [not](https://travis-ci.org/jayvdb/coala/jobs/310013750) have a problem.

Very likely to be the recent release of [pyopenssl 17.5.0](https://github.com/pyca/pyopenssl/releases/tag/17.5.0)

[2017-12-01 14:00] Makman2 commented on #370
Yes.

Probably nearby the entrypoint, where you do an env-var check.

[2017-12-01 14:02] Makman2 commented on #422
@yashasingh you can file a new issue to change the section name from `commits` to `commit` (which definitely makes sense ;D), this one is a different issue.

@jayvdb I'll file a new issue for the CI-checks :+1:

[2017-12-01 14:04] Makman2 opened #435 "CI: Add coala-ci checks"
gitmate is behaving weird recently, we need a run of coala itself as a fallback.

[2017-12-01 14:04] Makman2 commented on #422
--> https://github.com/coala/corobo/issues/435

[2017-12-01 14:25] Makman2 commented on #296
I think this is done.

[2017-12-01 14:25] Makman2 commented on #425
Tbh I think #296 is not a dupe but was already solved. This issue is about improving the message.

[2017-12-01 15:09] Mixih commented on #433
The problem is the pin in igitt, see https://gitlab.com/gitmate/open-source/IGitt/blob/master/requirements.txt#L3

[2017-12-01 15:10] Mixih commented on #433
I'm reopening this issue so we can track progress

[2017-12-01 15:13] Mixih commented on #433
issue created https://gitlab.com/gitmate/open-source/IGitt/issues/91

[2017-12-01 15:28] Mixih commented on #433
PR created https://gitlab.com/gitmate/open-source/IGitt/merge_requests/166

[2017-12-01 15:31] #171 closed

[2017-12-01 16:33] LifetimeAlone opened #438 "git_stats.py: 'set object is not callable'"
'set' object is not callable

[2017-12-01 18:08] co-robo opened #441 "Repeated invite message"
Please refer to https://gitter.im/coala/coala?at=5a2198e9540c78242d7146a9 for more information
difficulty/newcomer
Opened by @RaiVaibhav at [Gitter](https://gitter.im/coala/coala?at=5a219a8d540c78242d715177)

[2017-12-01 18:08] co-robo opened #442 "Repeated invite message"
Please refer to https://gitter.im/coala/coala?at=5a2198e9540c78242d7146a9 for more information
difficulty/newcomer
Opened by @RaiVaibhav at [Gitter](https://gitter.im/coala/coala?at=5a219a8d540c78242d715177)

[2017-12-01 22:04] yashovardhanagrawal commented on #442
duplicate of #441 I think this is also because of that error happened in corobo

[2017-12-01 22:06] yashovardhanagrawal commented on #442
I don't think is a newcomer issue as we have to find out what is causing the error @RaiVaibhav

[2017-12-01 22:06] RaiVaibhav commented on #442
Yes see the gitter link chat provided, I automatically created a two same issue

[2017-12-01 22:07] RaiVaibhav commented on #442
When I filed a issue I actually didn't know about that it is a mess

[2017-12-02 00:04] #442 closed

[2017-12-02 00:08] jayvdb commented on #441
Very likely due to the subclassing in https://github.com/coala/corobo/commit/07fb758f046a15def302f4f3b00408e352bc620b

[2017-12-02 00:10] Makman2 commented on #441
@jayvdb not sure if we should revert the commit for now... I've seen that even issues are filed twice^^

[2017-12-02 00:20] jayvdb commented on #391
Assigning to current claimer.

[2017-12-02 01:51] jayvdb commented on #358
Yes, the data you need is in labhub, so the pitchfork plugin needs to *depend on* labhub, and get the data from there.  pitchfork should not be part of labhub

[2017-12-02 02:01] meetmangukiya commented on #441
The most affected will be the create issues, since it'll create two issues. I guess we should revert it if nobody gets around fixing it for another day, we don't want dupes for every new issue being filed. Else I might fix it tomorrow and in that case we should have it reverted.

[2017-12-02 02:03] meetmangukiya commented on #391
Difficulty set is incorrect. Please use `ACCESS_CONTROLS`, see configuration template from errbot.io

[2017-12-02 02:06] jayvdb commented on #441
subclassing was a bad idea.  That still means two instances of `LabHub` are fetching everything.  But this is our problem - we recommended the student do this approach, we ack'd it, and I merged it.
Working on a solution now.

[2017-12-02 06:43] co-robo opened #444 "Limit commands to only operate in test rooms"
[code]
label: difficulty/low initiatives/gci
Opened by @mohitkyadav at [Gitter](https://gitter.im/coala/corobo?at=5a224ba43a80a84b5ba8effb)

[2017-12-02 06:43] co-robo opened #445 "Limit commands to only operate in test rooms"
[code]
label: difficulty/low initiatives/gci
Opened by @mohitkyadav at [Gitter](https://gitter.im/coala/corobo?at=5a224ba43a80a84b5ba8effb)

[2017-12-02 06:47] mohitkyadav commented on #444
Above mentioned commands should only be available in test rooms.

[2017-12-02 10:27] RaiVaibhav commented on #337
@shaipranesh11 did you first claimed the task ?https://codein.withgoogle.com/dashboard/tasks/6536913504698368/

[2017-12-02 10:30] shaipranesh11 commented on #337
i claimed it.

[2017-12-02 15:19] #445 closed

[2017-12-02 16:50] bhavishyagopesh opened #451 ".coafile: fix a typo"
Change `[commits]` to `[commit]` as mentioned here https://github.com/coala/corobo/issues/422

[2017-12-02 17:03] bhavishyagopesh commented on #435
@Makman2  Is this done with the current PR(https://github.com/coala/corobo/pull/437) ?

[2017-12-02 18:16] Makman2 commented on #435
No this issue is about adding a call to `coala` in our CI, so we don't rely only on gitmate (as it recently failed to flag issues in code recently).

[2017-12-02 18:22] Makman2 commented on #451
@bhavishyagopesh please get assigned to an issue before you start working on it. Reviews won't happen until then.

[2017-12-02 18:38] bhavishyagopesh commented on #451
@Makman2  So there weren't any labels, that's why I couldn't  assign myself. Is it okay now?

[2017-12-02 18:49] Makman2 commented on #451
If labels are missing, always ask to add some ;)

[2017-12-02 18:50] bhavishyagopesh commented on #451
Sure thing :)

[2017-12-02 19:01] bhavishyagopesh commented on #435
@Makman2  Adding `docker run coala/base coala --ci` to `.travis.yml` would work?

[2017-12-02 21:01] Makman2 commented on #435
Maybe :)

[2017-12-02 21:02] #438 closed

[2017-12-03 04:35] syntax-explorer opened #455 "Mention that users need to be a developer (and point to the requirements) if they try to assign a medium issue"
Mention that users need to be a developer (and point to the requirements) if they try to assign a medium issue

[2017-12-03 04:35] #455 closed

[2017-12-03 04:51] syntax-explorer opened #456 "stop corobo from messaging the user twice for hello world, assign and unassign commands"
corobo messages the user twice for hello world , assign and unassign commands. So  make corobo reply once for these commands.

[2017-12-03 04:58] andrewda commented on #456
Duplicate of #441, I believe.

[2017-12-03 05:01] syntax-explorer commented on #456
ya it's duplicate sorry.

[2017-12-03 05:01] #456 closed

[2017-12-03 07:23] Vamshi99 opened #462 "Ban user from using corobo"
A plugin which removes a user from organisation members, restrict that user from using corobo. Also if possible ban user from all our gitter channels. Limit this command access to maintainers and this command should not be allowed in private chat.
label: difficulty/medium plugin proposal

[2017-12-03 16:00] jayvdb commented on #435
@Makman2 , I believe that travis and semaphore are both already running coala checks.

https://github.com/coala/corobo/pull/454#issuecomment-348787642

.travis.yml and .ci/semaphore.tests.sh omit GitCommitBear with `sed -i.bak '/bears = GitCommitBear/d' .coafile` , and that is due to a bug in coala-bears.

[2017-12-03 16:21] #391 closed

[2017-12-03 22:16] Makman2 commented on #435
Oh do you have the issue link maybe? In that case let's quickly resolve that issue and close this one ;)

[2017-12-04 08:03] jayvdb opened #468 "TestLabHub.test_alive: queue.Empty"
I have been seeing this `queue.Empty` quite a bit, occurring rather randomly in semaphore builds of https://github.com/coala/corobo/pull/443 (and not in Travis), and @Vamshi99 also has encountered it at https://github.com/coala/corobo/issues/356#issuecomment-348245452

It currently occurs at https://semaphoreci.com/coala/corobo/branches/pull-request-452/builds/2 by @bhavishyagopesh in https://gith

[2017-12-04 08:17] jayvdb commented on #328
https://github.com/coala/corobo/issues/296 must be finished first

[2017-12-04 08:22] jayvdb commented on #425
#296 was not solved, (has since been a huge mess), but is now re-opened, and needs to be how this is done.
Also #328 follows that, as level `medium` to do a larger overhaul.
This issue is a duplicate of #296 and #328 .

[2017-12-04 08:22] #425 closed

[2017-12-04 08:32] jayvdb commented on #468
A rebuild fixed it : https://semaphoreci.com/coala/corobo/branches/pull-request-452/builds/3

So this is an intermittent problem.

[2017-12-04 09:23] jayvdb commented on #444
Blocked waiting for https://github.com/coala/corobo/pull/465 .

[2017-12-04 10:19] jayvdb commented on #257
This can be done by converting the explanations to use errbot templates.

[2017-12-04 10:21] jayvdb commented on #257
The solution for this issue should also use coala to validate the template syntax.

[2017-12-04 10:28] jayvdb commented on #377
The FAQ bot uses a database, which wouldnt be checked into the repo, while we use static definitions.
We could potentially load those definitions into the database at startup, but that would probably require enhancements to this bot plugin at least, or some additional too/plugin which creates a database at startup from other repo friendly sources.

Going with https://github.com/coala/corobo/issues

[2017-12-04 10:56] jayvdb opened #469 "Prevent invite from being used in private message"
Similar to https://github.com/coala/corobo/pull/463 , the invite command should not be accessible by anyone in private message.

[2017-12-04 11:15] jayvdb commented on #412
This fix should also remove the `coala/` prefix on all room names, as that is a gitter specific aspect.  When the backend is Zulip instead of gitter, `coala/coala` becomes just `coala` , likewise rooms `coala-bears`, `corobo`, `gci`,  `documentation`, etc.

[2017-12-04 12:36] meetmangukiya commented on #328
How is that a blocker for this one?

[2017-12-04 14:39] #451 closed

[2017-12-05 14:07] jayvdb commented on #435
@Makman2 https://github.com/coala/coala-bears/issues/1037

[2017-12-05 14:10] jayvdb commented on #426
Needs test coverage to prevent oddities occuring again

[2017-12-05 14:21] jayvdb commented on #420
This task is to create upstream issues for whatever is missing in IGitt.

It should only be done by GCI participants that have completed ["Your first coala issue"](https://codein.withgoogle.com/dashboard/tasks/4602539020386304/) and a GCI task of an [IGitt `low`+ issue](https://gitlab.com/gitmate/open-source/IGitt/issues/)

[2017-12-06 03:40] jayvdb opened #473 "Check corobo rights on all gitter rooms"
Very closely related to #412 and #462 ...

corobo needs to check it has sufficient permission to ban in each of those gitter rooms.  We've found the gitter permission system to be quite convoluted, as it has a mix of GitHub and Gitter permissions.  Also it is easy to create a new room and forget to set up the permissions so that the bot is able to operate correctly, such as activating a ban if req

[2017-12-06 03:42] jayvdb commented on #462
note this depends on an existing GCI issue #412 which is that the bot should be in all the coala rooms on gitter, otherwise it wont work.

We should also ban from our Zulip instance.  This is probably easier , since we dont need to do many rooms.

[2017-12-06 04:04] jayvdb commented on #462
I've published [this task](https://codein.withgoogle.com/dashboard/tasks/4504880884482048/) for students to use your POC patch to create IGitt enhancement requests for all the features that you need, so we can schedule those for GCI tasks, which will allow you to finish your patch much easier.

[2017-12-06 18:43] virenkhandal opened #475 "Eligibility Misspelled"

[2017-12-09 11:35] jayvdb commented on #435
Bug is bogus.

[2017-12-09 11:35] #435 closed

[2017-12-10 17:19] meetmangukiya opened #476 "Change invite according to the modified newcomer process"
Newcomers will now be invited only when they select an issue. Then the maintainers will invite them and assign it to them. This means `invite me` has to be removed and the invite message for newcomers has to be changed. And "Hello world"s should not trigger invitations either.

[2017-12-10 20:17] Makman2 commented on #475
@virenkhandal where does the wrong spelling occur?

[2017-12-11 09:56] Vamshi99 commented on #356
See gitter chat at https://gitter.im/coala/corobo?at=5a2e4b2fc65707ba2b3995ef

Brief of discussion:
`arg_botcmd`:
Disadvantages
* Help message will be missing
* Problem parsing the issue, pr links.
* Can't use aliases like (inv|invite|welcome)

Advantages:
* Stops every message being checked for matching regex.
* Would give better error checking.

[2017-12-11 15:32] Makman2 commented on #356
Why is that a problem? That step would happen in the command function^^

[2017-12-11 16:21] #257 closed

[2017-12-11 16:28] jayvdb commented on #329
Closed as part of https://github.com/coala/corobo/issues/257

[2017-12-11 16:28] #329 closed

[2017-12-11 17:44] Vamshi99 commented on #356
@Makman2 If we use only `arg_botcmd` without regex matching, it would be a problem.

[2017-12-11 17:50] Vamshi99 commented on #475
This issue is fixed as a part of https://github.com/coala/corobo/issues/257.

[2017-12-11 18:37] #475 closed

[2017-12-11 19:27] Makman2 commented on #356
[code]
Doesn't appear to me as a limitation^^

You definitely have to be more precise^^

[2017-12-12 05:09] Vamshi99 commented on #356
Ok, I have agreed that way is good in gitter chat, what can we do with commands having aliases?

[2017-12-12 12:07] Vamshi99 commented on #358
ping @aashraybhandar1 Are you working on this? If not, let us know.

[2017-12-12 16:51] fneu commented on #374
manual testing didn't work out that well so far:
- https://github.com/ersiko/err-meetingbot generated errors on install (python3)
- https://github.com/Team488/meeting-bot didn't make any commands available in !help
- https://github.com/errbotio/err-poll creates votes all right but crashes on voting

[2017-12-12 17:05] Makman2 commented on #356
We could copy function declarations and redirect to the main function in the worst case, but I don't really like it:
[code]

[2017-12-12 17:05] Makman2 commented on #356
I hope there's another way^^

[2017-12-12 17:34] aashraybhandar1 commented on #358
Hey I'm really sorry.I had my end semester exams so wasn't able to continue working on it. I do want to work on this issue and I will try to wrap it up in the and atleast send the first pull request in the next couple of days.

[2017-12-13 11:27] Vamshi99 opened #479 "Change username to target"
Change username to target in `https://github.com/coala/corobo/blob/master/plugins/templates/labhub/errors/not-maintainer.jinja2.md`
label: difficulty/newcomer

[2017-12-13 19:55] HarendraSingh22 commented on #479
What exactly has to be done? I want to take this issue

[2017-12-14 07:11] Vamshi99 commented on #479
@HarendraSingh22 Change word `username` to `target`.

[2017-12-14 08:58] jayvdb opened #480 "Listen for org invite acceptance and provide more info"
from https://github.com/coala/corobo/issues/240#issuecomment-320271908

Would be nice if the bot can also listen for new team accepts, and then automatically message them more info.

[2017-12-14 11:27] wyj1026 commented on #479
Can I take up this issue?   :)

[2017-12-14 11:51] HarendraSingh22 commented on #479
@Vamshi99 Assign me to this issue

[2017-12-14 12:09] HarendraSingh22 commented on #479
@sils Thanks sir ! Very happy to get my first issue assigned by you ! :)

[2017-12-14 12:32] HarendraSingh22 commented on #479
PR #481 has been made for this issue

[2017-12-14 13:43] wyj1026 commented on #383
Hi, I'm interested in it, may I take up this issue?  I'v read the newcomer's guide and I have some experience with open source programs. :)

[2017-12-15 13:22] meetmangukiya opened #482 "[Plugin Proposal] Spam: Alert user that they might be spamming"
TODO: Improve issue description

Earlier issue : https://gitlab.com/coala/cobot/issues/16

[2017-12-15 13:44] Vamshi99 commented on #168
To fix this issue, we can change room settings of gitter room, to allow only github users to this join the room.
![room](https://user-images.githubusercontent.com/20969586/34044698-0bd18d12-e1cc-11e7-94fa-b7cd57bbd63e.PNG)

[2017-12-16 02:00] wyj1026 commented on #482
Can I take up this issue ? :smile:

[2017-12-16 13:44] Vamshi99 commented on #356
We will be having problem with help message as well, and I too don't like above method

[2017-12-17 05:20] yukiisbored commented on #371
Unassigned per request.

[2017-12-17 11:34] nalinbhardwaj opened #487 "Remove Travis build badge from README.md"
The README has a Travis CI badge, but corobo is no longer tested on Travis for master branch. Remove the old badge.

label: difficulty/newcomer

[2017-12-17 14:34] #426 closed

[2017-12-17 15:14] prnvdixit opened #490 "Fix spelling in git_stats.plug"
Fix the spelling from "GitLub" -> "GitLab" [here](https://github.com/coala/corobo/blob/75f188c902e525cc4009b3e91776c855880261c5/plugins/git_stats.plug#L6)

label: difficulty/newcomer

[2017-12-17 23:57] rhartung commented on #490
Hi I'd like to work this issue, thanks!

[2017-12-18 16:06] ysahil97 commented on #487
Thanks. PR #492 has been created for this issue.

[2017-12-20 01:51] #490 closed

[2017-12-20 03:51] jayvdb commented on #251
This is in `newcomers.jinja2.md`

[2017-12-20 09:41] #487 closed

[2017-12-20 12:41] #469 closed

[2017-12-20 12:53] jayvdb opened #495 "Travis builds are broken"
A recent change has resulted in constant Travis build problems.

[2017-12-20 12:57] jayvdb opened #496 "Travis CI invokes pip three times"
https://github.com/coala/corobo/commit/117c7473efc40b13914b6848d1c7df8fa537dad3#diff-354f30a63fb0907d4ad57269548329e3R18

[code]

WIP at https://github.com/coala/corobo/pull/466

However due to coala outdated pinned dependency on colorlog , it is hard to fix this because a more recent version of colorlog can be installed.

[2017-12-20 12:57] jayvdb commented on #496
https://github.com/coala/coala/pull/4993 fixes the problematic pin of colorlog

[2017-12-20 14:42] jayvdb commented on #495
e.g. https://travis-ci.org/jayvdb/corobo/builds/319023322 is a master build.

The error is with `TestLabHub.test_create_issue_cmd`

[code]

[2017-12-20 15:30] ysahil97 commented on #101
I would like to work on this issue since this issue has been inactive for quite some time.

[2017-12-20 20:03] andrewda commented on #251
This was fixed in #471.

[2017-12-20 20:29] #251 closed

[2017-12-21 04:13] GavrielSembiring commented on #251
whoat

[2017-12-21 04:25] GavrielSembiring commented on #119
ok

[2017-12-22 07:10] ysahil97 commented on #375
I have a question regarding the seen feature. Is it viable to include this plugin given that some of the chat backends already have this "seen by' feature?

[2017-12-23 11:53] #369 closed

[2017-12-27 08:27] Vamshi99 commented on #250
Fixed in https://github.com/coala/corobo/pull/471

[2017-12-27 17:06] #250 closed

[2018-01-06 07:24] yagyanshbhatia commented on #375
I want to work on this issue. Please assign me this

[2018-01-18 09:59] MasterNiku commented on #401
I want to work on this.

[2018-01-21 21:59] Makman2 commented on #401
Please accept the invitation :+1: :smile:

[2018-01-23 03:50] EverWinter23 commented on #479
I would like to resolve this issue.

[2018-01-24 14:52] Makman2 commented on #322
Unassigned per request.

[2018-01-24 16:26] Makman2 commented on #479
Reassigning due to inactivity.

[2018-01-26 08:03] EverWinter23 commented on #371
Would like to work on it.

[2018-01-26 08:07] EverWinter23 commented on #370
I would like to take over.

[2018-01-26 08:09] EverWinter23 commented on #172
I would like to work on it.

[2018-01-26 10:11] EverWinter23 commented on #172
@jayvdb Should I implement this for 1 user or for all users? And if I do it for all users, where will their access tokens be stored?

[2018-01-26 12:41] EverWinter23 commented on #306
I would like to work on this issue.

[2018-01-26 16:20] Makman2 commented on #370
Reassigning due to inactivity.

[2018-01-26 16:20] Makman2 commented on #370
@EverWinter23 I think you already have a few issues assigned (among them a newcomer issue), so please take harder ones than `difficulty/newcomer` ;)

[2018-01-26 17:01] EverWinter23 opened #501 "Block gci issue assignment to all users."
Workaround for https://github.com/coala/corobo/issues/306 as it still hasn't been solved and is difficult to implement. This will serve as a short-term solution to the problem.
The solution being:
1. gci issues will not be assigned to any contributors using corobo.
2. gci members can still claim the issues by commenting on the issue thread.

[2018-01-26 17:05] EverWinter23 commented on #501
Currently working on it.

[2018-01-26 17:15] EverWinter23 opened #502 "A newcomer should not be assigned unlabelled issues."

[2018-01-26 17:16] EverWinter23 commented on #502
Working on it.

[2018-01-28 13:41] EverWinter23 commented on #502
Already implemented. My fork was behind the master branch.

[2018-01-28 14:10] EverWinter23 commented on #502
Opening issue because a test fails:
https://semaphoreci.com/coala/corobo/branches/pull-request-503/builds/5

[2018-01-28 16:03] #479 closed

[2018-01-28 17:10] EverWinter23 commented on #502
Occurs because of wrong implementation of the following method.
 def elibile(user, iss):
      .....

[2018-01-28 17:10] #502 closed

[2018-01-28 17:13] EverWinter23 commented on #306
@jayvdb @Makman2 From what I've read so far, I'll be tackling the issue the following way:
1. A separate team of GCI members.
2. If member belongs to this team and assign the issue. (keeping checks in mind)

[2018-01-28 20:03] Makman2 commented on #306
Sounds okay, not sure introducing a GCI team on GitHub would impose a problem, but I guess it doesn't. In the end we can still change how we gather together all GCI participants :)

[2018-01-29 01:51] EverWinter23 commented on #306
Thanks. Will start working on it right away.

[2018-01-29 16:35] Crphang commented on #401
Hey @MasterNiku, are you still looking to work on this? If not I hope to get assigned to this!

[2018-02-01 14:28] #401 closed

[2018-02-01 16:08] #422 closed

[2018-02-03 19:07] eeshan9815 commented on #370
@jayvdb @Makman2 I would like to start contributing by fixing this issue if no one is working on it

[2018-02-06 18:10] aashraybhandar1 commented on #370
@Makman2  can I be assigned this issue?

[2018-02-06 21:35] Makman2 commented on #370
@eeshan9815 please read our newcomer guide :) I've assigned @aashraybhandar1 for now, I hope you don't mind. I'm on vacation currently, so don't have really time to overlook everything here.

[2018-02-07 15:39] eeshan9815 commented on #370
@Makman2 Should I look for some other `difficulty/newcomer` issue?

[2018-02-12 18:06] sanket-mali commented on #412
Assign me on this issue

[2018-02-13 17:02] Naveenaidu commented on #385
Can you please elaborate on this issue. I would like you know more about it.

[2018-02-14 06:52] sanket-mali commented on #412
please review my pull request.

[2018-02-15 06:31] jayvdb opened #507 "GCI Logo task"
[this task](https://codein.withgoogle.com/dashboard/tasks/5952910829551616/preview/) was to create a new logo.  There were three completed, and we must select a winner.

- Aryaman Singh : https://puppytron55.deviantart.com/art/Corobo-Te-Coala2-2-725271483
- sagar gala : https://www.behance.net/gallery/60595919/logo-of-corobo
- Abhay kumar: https://www.behance.net/gallery/60501641/corobo & https://

[2018-02-17 08:05] meetmangukiya commented on #24
IIRC we decided against this, right?

/cc @jayvdb

[2018-02-17 08:33] meetmangukiya opened #509 "corobo security hardening"
- [x] Make all labhub commands except invite require being a member of the org , so that corobo isnt a way around bans.
- [x] Prevent all labhub commands in private chat with the bot, optionally re-adding access for maintainers to issue labhub commands in private chat. 794be488d0fd8a7f6add1b2de040b586690124d6
- [x] Add ability to ban from all gitter rooms at once (otherwise it is very tedious) [th

[2018-02-17 13:39] Makman2 commented on #24
At least we have to restrict the commands usable in a private chat.

[2018-02-18 16:53] AnirbanBanik1998 commented on #345
I would like to work on this issue

[2018-02-20 19:05] Makman2 commented on #345
Please accept the org invite, then you can be assigned :+1:

[2018-02-22 17:45] random-access7 commented on #307
Hello, I would really like to work on this. If possible can I be assigned this task?

[2018-02-23 12:43] random-access7 commented on #307
Also, I was going through the script [labhub.py](https://github.com/coala/corobo/blob/master/plugins/labhub.py) and for the `invite_cmd` method, I see that the regex can match to "invite @userto developers" while `match.group(1)` will return "user" (instead of "userto"). I guess this wouldn't affect the functionality much, but might just be a corner-case error? If possible, could I work on this an

[2018-02-23 13:11] Makman2 commented on #307
Please file a new issue, such discussions shouldn't clutter unrelated issues ;)

[2018-02-23 19:58] random-access7 opened #512 "Edit regex pattern for 'invite_cmd' in 'labhub.py'"
The `invite_cmd` method in `labhub.py` has a particular regex pattern which should match *'invite @username to team'*, *'invite @username'* or *'invite me'*. However, the regex pattern might also match to *'invite @userto developers'* while match.group(1) will return *'user'* (instead of *'userto'*) and should be changed to remove a possible corner-case error.

[2018-02-26 15:30] Makman2 commented on #359
Unassigned due to inactivity.

[2018-02-27 18:00] #307 closed

[2018-03-04 16:04] #512 closed

[2018-03-25 07:53] jayvdb commented on #501
Note that this issue was only relevant while GCI was being run.  But we still need this capability for the next GCI.

[2018-03-28 02:47] jayvdb opened #515 "Support a hardcoded user list"
For GSoC, I would like to run corobo on our Zulip with a hard-coded user list.

This allows immediate re-activation of all features, as any misuse would have drastic consequences on the abuser.

Then other people can remain on the Zulip instance, and more can join the Zulip, without security problems.

[2018-03-28 11:42] Vamshi99 opened #516 "Update github3.py"
Update github3.py to v1.0.0 and change Organisation#iter_teams property to Organisation#teams as per the update in github3.py

[2018-03-28 19:46] #516 closed

[2018-04-02 13:13] Makman2 opened #518 "Add new command: Migrate issue to different repository"
A new command like
[code]
should be supported. It would
1. copy discussions
2. reference the original issue (saying `Migrated issue from ... (by <author>).`)
3. Write in the original issue `Migrated to ... (by <author>).`
3. apply labels from the original issue
4. mark the original issue as invalid
5. and finally close the original issue.

[2018-04-02 13:37] Vamshi99 opened #519 "Change nevermind plugin regex"
Currently corobo says sorry, whenever there is nm or nevermind in a sentence(when corobo is first word), so make it a full match. It should only respond when we say `corobo nm`  or `corobo nevermind`.
label: type/regex difficulty/newcomer

[2018-04-02 13:42] usmanmuhd98 commented on #519
I would like to work on this issue.
Can anyone assign me?

[2018-04-02 17:48] random-access7 commented on #518
@Makman2 , how should the citations look like? As in, should corobo copy the comments in the old issue and create comments in the new issue with the same text as the old issues? Or should these comments be included in the new issue message?

[2018-04-03 19:50] Makman2 commented on #518
I would recommend

[2018-04-05 05:34] jayvdb opened #520 "plugins/labhub.py difficulty_level docstring missing :"
In `plugins/labhub.py` , function `difficulty_level`, a comma is needed

[code]

[2018-04-14 13:41] EverWinter23 commented on #398
@meetmangukiya Could your please elaborate what you mean by monkey patching.

[2018-04-15 14:30] jayvdb commented on #358
Turns out this is hard due to the problem of testing dependent plugins

[2018-04-16 14:19] #370 closed

[2018-05-01 13:02] jayvdb commented on #495
@Vamshi99 , any idea why the problem only occurred on Travis, and not Semaphore CI?

[2018-05-01 18:39] Vamshi99 commented on #495
@jayvdb No idea 😞 ,I think something is wrong with semaphore CI.

[2018-05-01 18:51] #495 closed

[2018-05-02 04:28] #312 closed

[2018-05-02 07:53] jayvdb commented on #495
Hmm.... I think this didnt fix it.

https://travis-ci.org/jayvdb/corobo/builds/373781532 is rebased, but has the same error.

[2018-05-02 10:36] jayvdb opened #524 ".travis.yml: Disable notifications on success"
We dont need any notifications to occur on success.

[2018-05-02 16:01] Vamshi99 commented on #495
I fixed repository missing thing, that is ACL's issue. As per the test, ACL's aren't working.

[2018-05-04 06:42] jayvdb commented on #495
ah, i see

[2018-05-07 09:36] #524 closed

[2018-05-15 18:41] nvzard opened #526 "Ignore the failing `Creating issue in private chat` test to get the builds green"
https://travis-ci.org/coala/corobo/builds/379188833

[2018-05-16 12:24] nvzard opened #528 "[Plugin Proposal]: suggest_issues: Suggest issues as per difficulty level"
Bot will randomly select 5 unassigned issues from all coala repositories and suggest it based on the asked difficulty level.

`corobo suggest issue <newcomer/low/medium/high>`

[2018-05-16 12:46] meetmangukiya opened #529 "Unnecessary self handling of the TestBot"
https://github.com/coala/corobo/blob/master/tests/coatils_test.py
https://github.com/coala/corobo/blob/master/tests/wolfram_alpha_test.py
https://github.com/coala/corobo/blob/master/tests/answer_test.py

[2018-05-18 20:27] nvzard commented on #529
[code]
https://docs.pytest.org/en/3.0.1/unittest.html
It is not possible to pass fixture as argument so I'd have to use the plain asserts instead of unittest to solve this.

[2018-05-20 10:24] nvzard opened #531 "Include PyUnusedCodeBear in .coafile to remove unused imports"
difficulty/newcomer

[2018-05-21 17:28] nvzard opened #532 "Make ACL extensible."

[2018-05-21 17:38] nvzard opened #533 "Make ACL extensible."
This issue involves making changes in the upstream Errbot repository to make the ACL plugins extensible so that the users get the ability to create custom Access Controls/filters as per their need apart from the default ACL provided by Errbot (allowusers, allowrooms, denyrooms,allowprivate, allowmuc).

[2018-05-22 01:47] meetmangukiya commented on #532
Duplicate of #533

[2018-05-22 01:47] #532 closed

[2018-05-24 03:20] jayvdb commented on #380
Note that I explored this problem a little bit for https://github.com/coala/corobo/pull/413

I found that this meant that the plugin could only be configured using `!config` , and didnt have the ability to load settings from a global config.

It is critical that corobo starts up using preset values from a config file.

As a result I did the following as a bit of a workaround:

[code]

We could put

[2018-05-26 02:27] #526 closed

[2018-05-26 02:37] jayvdb commented on #529
What is this?

Are you removing `unittest` support?
If so, this is a big no.
coala repos should work with `unittest`.  pytest features which are in addition can be used, but not the features which remove `unittest` support.

[2018-05-28 19:34] nvzard commented on #529
It is not possible to provide additional configuration by setting variables at module level or as class attributes while using [FullStackTest](https://github.com/errbotio/errbot/blob/50d0c8918f3379e8bf60e28e3b7b32fa6fc30be9/errbot/backends/test.py#L465) to test the plugin.
I am not able to set `extra_plugin_dir = 'plugins'` due to this.

[2018-05-28 20:38] gbin commented on #529
As per discussion in the Errbot channel:
[code]

[2018-05-28 22:03] nvzard commented on #529
@gbin had to explicitly call `self.start()` after `super().setUp(extra_plugin_dir='/something')` since `super()` returns a proxy object of class `FullStackTest`.

[2018-05-30 17:59] #371 closed

[2018-06-01 11:25] nvzard opened #534 "[GSoC'18]: Give developers the right to invite newcomers to the organisation."
This will involve changing the bot command to `corobo invite <@username>`.
and removing the Removing `invite me` command.

[2018-06-01 13:35] nvzard opened #535 "[GSoC'18]: Remove invite using `invite me`"

[2018-06-01 15:39] nvzard opened #536 ".gitignore: Add .pytest_cache"
difficulty/newcomer

[2018-06-02 07:41] nvzard opened #538 "[GSoC'18]: Remove the automatic invite due to `Hello World` message."

[2018-06-03 14:06] nvzard opened #540 "[GSoC '18]: Stop newcomers from getting assigned to more than one newcomer issue."

[2018-06-05 06:09] meetmangukiya opened #542 "Some sort of tests to test regexes that we are using"
We have a lot of `re_botcmd`'s and some of them are pretty complex. It'd be great if we can setup some tests for the regexes, that it matches given `x` strings and does not match given `y` strings. Easier for reviewing.

[2018-06-05 06:20] meetmangukiya opened #543 "Fix indentation in labhub"
### Overview Description

# Steps to Reproduce

1.
2.
3.

# Actual Results

# Expected Results

# Reproducibility

# Additional Information:

[2018-06-05 10:38] utkarsh2102 commented on #536
Hi,
Can I take up this task?

[2018-06-05 10:39] utkarsh2102 commented on #520
Hi,
Can I take up this task?

[2018-06-05 10:43] utkarsh2102 commented on #519
I'd like to take this up since there is no activity since 2 months.
Can I be assigned the same?
CC: @jayvdb

[2018-06-05 11:29] nvzard commented on #536
@utkarsh2102 yeah sure!!
Ask a maintainer to get assigned.

[2018-06-05 11:32] utkarsh2102 commented on #536
Thanks @nvzard.
@jayvdb, could you please assign the same to me?

[2018-06-05 18:48] nvzard opened #544 "Bump IGitt to 0.4.1.dev20180528102129"

[2018-06-06 10:10] nvzard opened #546 "[GSoC '18] Update gitter-backend submodule"
Need to update after https://github.com/errbotio/err-backend-gitter/pull/34

[2018-06-06 11:19] nvzard opened #548 "Make all LabHub commands require being a member of the organisation"

[2018-06-06 11:49] #546 closed

[2018-06-06 15:53] KlebGomes commented on #543
I'm trying to solve this issue. I already fixed the indentation, but my github desktop isn't "pushing origin". I got an error.

[2018-06-06 16:50] nvzard commented on #543
@KlebGomes you should've got yourself assigned first before working on the issue.
You should push to your fork.
[code]

[2018-06-06 17:36] nvzard commented on #543
https://gitter.im/coala/coala
As a maintainer to assign yo.

[2018-06-06 17:41] KlebGomes commented on #543
I'm there.

[2018-06-06 21:17] nvzard commented on #543
@KlebGomes Ask a maintainer to assign you this issue. After that you can open a pull request :)

[2018-06-07 01:45] KlebGomes commented on #543
@nvzard Done.

[2018-06-07 09:13] nvzard opened #549 "[GSoC '18] Add ability to ban from all gitter rooms at once"

[2018-06-07 18:23] nvzard commented on #544
https://gitlab.com/gitmate/open-source/IGitt/commit/cdc27bafcc20cd0dc8fc70898df2710eeb0622eb
This commit is causing the problem.

[2018-06-08 09:07] nvzard opened #551 "Make labhub accessible to org members only"

[2018-06-08 10:31] #544 closed

[2018-06-09 11:31] nvzard opened #554 "Use activate instead of __init__ for LabHub plugins"

[2018-06-09 11:32] nvzard opened #555 "[GSoC '18] Fix git_stats plugin, create dependency on LabHub instead of inheritance"

[2018-06-12 14:29] #534 closed

[2018-06-12 14:29] #535 closed

[2018-06-12 14:52] meetmangukiya commented on #549
Duplicate of https://github.com/coala/corobo/issues/462.
@nvzard it seems @Vamshi99 already has most of the work done, ban as well as unban.

[2018-06-12 17:55] nvzard opened #556 ".coafile: Include PycodestyleBear and PyFlakesBear"

[2018-06-13 10:58] #482 closed

[2018-06-13 11:32] #540 closed

[2018-06-13 12:13] #538 closed

[2018-06-13 12:38] #529 closed

[2018-06-13 17:54] nvzard opened #557 "labhub: Remove unused invited_users set"
https://github.com/coala/corobo/blob/330faad06a8c5295c107ac46b26f1e10cef7402a/plugins/labhub.py#L64

[2018-06-14 11:32] nvzard opened #558 "[GSoC '18] Make create_issue command accessible to org members only"
dup https://github.com/coala/corobo/issues/551

[2018-06-14 11:40] nvzard opened #559 "[GSoC '18] Make unassign command accessible to org members only"

[2018-06-14 11:48] blacksheep95 opened #560 "[GSoC '18] Make mark_cmd command accessible to org members only"

[2018-06-14 11:52] nvzard opened #561 "[GSoC '18] Make mark_cmd command accessible to org members only"

[2018-06-14 11:52] blacksheep95 commented on #560
dup https://github.com/coala/corobo/issues/561

[2018-06-14 11:52] #560 closed

[2018-06-14 14:13] #558 closed

[2018-06-14 14:32] #549 closed

[2018-06-14 16:56] nvzard commented on #557
@JustBeYou please get assigned to the issue first

[2018-06-16 05:04] #501 closed

[2018-06-16 05:08] jayvdb commented on #561
Part of https://github.com/coala/corobo/issues/551

[2018-06-16 05:09] jayvdb commented on #551
Changed name to "Make labhub accessible to org members only" to cover all of labhub.
It is one change that needs to be done generically and implemented in all commands.

[2018-06-16 05:09] #561 closed

[2018-06-16 05:24] jayvdb opened #564 "test_alive failure"
I've seen this a few times, but we dont seem to have an issue about it.

`TestLabHub.test_alive` fails occasionally.

e.g. https://travis-ci.org/coala/corobo/builds/392987950 for #563

Something about this test isnt resilient enough to be reliable.

[2018-06-16 06:10] jayvdb commented on #559
This is part of https://github.com/coala/corobo/issues/551

[2018-06-16 06:10] #559 closed

[2018-06-16 06:11] jayvdb commented on #551
Also ideally it is built so that this security feature can be applied to other commands outside labhub.

[2018-06-16 06:13] jayvdb commented on #551
Sorry this is a dup of https://github.com/coala/corobo/issues/548

[2018-06-16 06:13] #551 closed

[2018-06-16 06:14] jayvdb commented on #548
This is one feature, not many, that needs to be done generically and implemented in all commands of labhub.

Also ideally it is built so that this security feature can be applied to other commands outside labhub, but that may be a follow up feature as this is urgently needed now and perfect is the enemy of good.

[2018-06-16 06:18] jayvdb commented on #554
We have many issues which are effectively about this, allowing the plugin to start without automatically logging into with the tokens and fetching everything.

See https://github.com/coala/corobo/issues/357 and https://github.com/coala/corobo/issues/253 and others in labhub label.

All of those require removing the `__init__` and using the correct plugin startup sequence.  IMO this issue will be a

[2018-06-16 08:00] nvzard opened #565 "Update .coafile to take tests/*.py into consideration."
difficulty/newcomer

[2018-06-17 04:14] jayvdb commented on #556
How many errors are there at the moment.

Please give details when creating bugs.

[2018-06-17 04:14] jayvdb commented on #565
How many errors are there at the moment.

Please give details when creating bugs.

[2018-06-17 14:42] nvzard commented on #556
Since coala is not enabled to run on test files and PycodestyleBear is already enabled for rest of the files, so only PyFlakesBear needs to enabled

[2018-06-17 15:03] nvzard commented on #565
More than 35 errors are there at the moment including line length > 80, unused imports, E302 expected 2 blank lines, E127 continuation line over-indented for visual indent, E251 unexpected spaces around keyword/parameter equals, etc

[2018-06-20 16:24] shikharvaish28 commented on #536
Can I be assigned this issue, please?

[2018-06-20 18:35] shikharvaish28 opened #567 ".gitignore: correct *,cover"
Correct the typo in the .gitignore file.

Make it ```*.cover``` instead of ```*,cover```

[2018-06-20 23:47] #536 closed

[2018-06-21 00:07] #557 closed

[2018-06-21 00:32] jayvdb commented on #564
And again
https://travis-ci.org/coala/corobo/builds/394806698

[2018-06-21 01:38] jayvdb opened #569 "Remove need for the empty data subdirectory"
`/data/` should be created at runtime if it is missing.

[2018-06-21 01:39] jayvdb commented on #569
cross linking with https://gitlab.com/coala/mobans/issues/48

[2018-06-21 01:39] jayvdb commented on #569
This *may* be an upstream fix.

[2018-06-21 01:43] jayvdb commented on #564
Failure on master https://travis-ci.org/coala/corobo/builds/394804787

[2018-06-21 02:17] jayvdb commented on #556
https://github.com/coala/corobo/issues/531 is better than PyflakesBear

[2018-06-21 07:39] nvzard commented on #556
Ohk, I'll close this issue then.

[2018-06-21 07:39] #556 closed

[2018-06-21 17:23] #567 closed

[2018-06-21 19:05] #564 closed

[2018-06-22 05:44] nvzard opened #571 "Errbot update"
PR to use errbot 6.0.0-alpha , so we can see what, if any, breakages are in it. we can keep rebasing that PR until it is green and errbot 6 is in beta

[2018-06-24 10:34] nvzard opened #574 "[Poll]: Configuration of corobo"
Since corobo lives inside a Docker container and is deployed after every commit.
To use the configuration templates, we'll need a way to pre-configure the plugins so that bot admins don't have to configure them after every deployment.

In the comment section, are the different proposed option than can be implemented to auto-configure the plugins at the time of deployment.

Please use a ' :+1:  ' t

[2018-06-24 11:56] nvzard commented on #574
**Option 1**

Simple use of environment variables in the configuration templates. Eg:

[code]

Downside: Environment variables on windows are hard to set & change.

[2018-06-24 12:58] nvzard commented on #574
**Option 3**

@jayvdb 's workaround https://github.com/coala/corobo/issues/380#issuecomment-391575383

[code]
We could put something similar into a super class for all our plugins.

[2018-06-24 13:08] nvzard commented on #574
**Option 4**

We can store the configuration dictionary in a seperate file `default_configs.py` which can be mounted to the docker container using docker volumes. The content of the file would be the configurations for the plugins. Eg:
[code]
Using a pythin script from inside the container we can import `CONFIG` from `default_configs.py` and configure the bot before it is deployed by executing  Er

[2018-06-24 13:12] nvzard commented on #574
**Option 5**

By keeping the `data/` dir outside the docker container and mounting it instead, we can take advantage of Errbot's storage.

We'd have to set `BOT_DATA_DIR` in `config.py` to the path of the mounted data dir.

Currently `BOT_DATA_DIR = os.path.join(BOT_ROOT, 'data')` where `BOT_ROOT` is the absolute path of the project root.

[2018-06-25 18:20] nvzard commented on #569
https://github.com/errbotio/errbot/pull/1232

[2018-06-25 22:04] nvzard commented on #569
@jayvdb https://github.com/errbotio/errbot/pull/1232#issuecomment-400090465

[2018-06-26 21:00] nvzard opened #575 "Redefine excessive usage of list of teams in labhub"

[2018-06-27 10:54] meetmangukiya commented on #574
`data/` directory is just errbot's shelf storage, it can not even be existing if we use another database, redis, postgres, etc.

[2018-06-28 11:38] #575 closed

[2018-06-28 11:41] yukiisbored commented on #574
Do not consider / assume that this thing will be running inside Docker. If the goal is to have the project reusable outside of coala, don't make decision that could make it unusable for people outside of coala (exp. Not using Docker, Not using Linux, etc).

I believe using environment variables to configure should be considered a cheap hack in comparison to a proper setup. I would prefer if it use

[2018-07-03 12:00] Man-Jain commented on #531
Can you please guide me so that I can begin with the issue.

[2018-07-03 12:07] nvzard commented on #531
@Man-Jain are you familiar with how `coala` works? If not take a look coala.io .

[2018-07-06 08:00] nvzard opened #579 "searchdocs_test: change `http://` links to 'https://`"
Change `http` to `https`
https://github.com/coala/corobo/blob/de4fbaff1bd227d078f15e8221ea4941fdcf4450/tests/searchdocs_test.py#L7

difficulty/newcomer

[2018-07-08 22:15] nvzard commented on #462
Please close this issue https://github.com/coala/corobo/pull/553

[2018-07-08 23:33] #462 closed

[2018-07-09 09:38] jayvdb commented on #549
Grrr... We should not have GSoC specific issues.

This is a duplicate of https://github.com/coala/corobo/issues/462

[2018-07-12 13:52] jayvdb commented on #579
Invite sent.

This issue was very badly written.

The cause of the http link is https://github.com/coala/corobo/blob/master/plugins/searchdocs.py , which uses the constant in https://github.com/coala/corobo/blob/master/plugins/constants.py

[2018-07-13 18:18] Man-Jain commented on #531
Sorry for the late reply @nvzard. Yes I am familier with the coala. I have used in one of my projects.

[2018-07-13 18:52] nvzard commented on #531
@Man-Jain then you just need to include `PyUnusedCodeBear` in this repo's `.coafile` , run coala and push the changes.

[2018-07-13 18:52] nvzard commented on #531
Sorry, closed by mistake.

[2018-07-13 19:48] Man-Jain commented on #531
@nvzard I have done all that you said. What should I do next.

[2018-07-13 20:44] nvzard commented on #531
Push your code and open a pull request.

[2018-07-13 21:04] Man-Jain commented on #531
Should I run any tests? If yes, please tell how.

[2018-07-13 23:19] #565 closed

[2018-07-17 06:08] jayvdb commented on #520
This was completed in 6c192f45

[2018-07-17 06:08] #520 closed

[2018-07-18 02:19] jayvdb opened #583 "semaphore CI scripts assume master branch is main repo"
[code]
Those assume that when BRANCH_NAME == "master", it is a push to the main repository.

It is quite common for people to accidentally build from the 'master' of forks, and submit PRs from that branch.

While it is highly undesirable that PRs come from master, and we intend to prevent it with a gitmate plugin, `.ci/semaphore.docker.sh` and `.ci/semaphore.answers.sh` should not break as a resul

[2018-07-19 03:22] nvzard opened #584 "Create CoroboTestCase and deprecate `plugin_testbot`"
`instanciateElement` of bot's plugin_manager which is using in the `plugin_manager` has been removed after the release of Errbot 6.0.0a.

CoroboTestCase uses the `FullStackTest` test class provided by Errbot for use with Python's unittest module to write tests against a fully functioning bot. It also supports usage of `mock_injection` with proper activation and deactivation of plugins as well as s

[2018-07-19 11:35] MacBox7 opened #585 "final.py: Unused imports"
Pyflakes error report =>
[code]

[2018-07-19 12:09] nvzard commented on #585
how come the `PyUnusedCodeBear` was not able to find these imports in the latest commit?
https://github.com/coala/corobo/commit/18a5b33aac03dfdedc977356c4335832e7ca501f

[2018-07-19 12:19] MacBox7 commented on #585
Even this =>
[code]

[2018-07-19 12:19] MacBox7 commented on #585
It seems to be an issue with `autoflake`. It is unable to detect these imports.

[2018-07-20 19:18] nvzard opened #586 "Implement DefaultConfigurationMixin"
`DefaultConfigurationMixin` will allow configuration of plugins from `config.py` so that admins won't have to configure the plugin every time the bot is deployed.

[2018-07-20 19:19] nvzard opened #587 "Adapt SpammingAlert plugin to use the DefaultConfigurationMixin"

[2018-07-21 07:54] Pawank221 commented on #585
please assign me this issue.

[2018-07-21 07:57] MacBox7 commented on #585
Ask on `coala` group on gitter for assignment.

[2018-07-21 19:02] #548 closed

[2018-07-21 21:00] prankshaw commented on #331
Please assign me to this issue

[2018-07-21 21:50] nvzard commented on #331
@prankshaw ask a maintainer of Gitter to assign this issue to you.

[2018-07-22 03:13] nvzard commented on #509
Make all labhub commands except invite require being a member of the org -> https://github.com/coala/corobo/commit/d697e18d436a33dca07f29e6d26544d3234750f3

Add ability to ban from all gitter rooms at once ->https://github.com/coala/corobo/commit/e24d461af968ef2bce95130c3bab12364dd962e1

Prevent corobo being used to spam a room ->https://github.com/coala/corobo/commit/fc9ba1e9e938938305b90ec6fb303

[2018-07-22 04:02] jayvdb commented on #331
@SubbulakshmiRS is building a template for this.

[2018-07-22 13:53] ishanSrt commented on #585
apparently `PyUnusedCodeBear` fails a lot. I created a few issue about it last month or so

[2018-07-29 01:38] #433 closed

[2018-07-29 05:01] #585 closed

[2018-07-29 05:05] jayvdb opened #593 "Remove dependency on nltk"
This was an unused dependency, and the import was removed in https://github.com/coala/corobo/pull/589

The entry in requirements.txt also needs to be removed.

[2018-07-29 07:58] ssg2526 commented on #593
hello, I am a newcomer and I want to take up this assignment. can you help me?

[2018-07-30 20:51] starlord1311 commented on #583
@jayvdb can i take up this issue?

[2018-07-30 21:15] #571 closed

[2018-07-30 21:15] #584 closed

[2018-07-30 22:10] #569 closed

[2018-07-31 10:23] nvzard opened #594 "Minor refractoring in labhub tests"
~~Do minor changes in labhub_tests as asked here https://github.com/coala/corobo/pull/572#pullrequestreview-141693883~~ (see below)

difficulty/low

[2018-07-31 14:29] ssg2526 commented on #594
i am a beginner, can i help?

[2018-07-31 14:57] nvzard commented on #594
@saurabh, have you completed your newcomer issue?

On Tue 31 Jul, 2018, 8:01 PM Saurabh Singh, <notifications@github.com>
wrote:

[2018-08-01 05:52] ssg2526 commented on #594
@nvzard, i was not assigned any issues till now. which issue i should work on?

[2018-08-01 07:28] nvzard commented on #594
@ssg2526 you should get yourself assigned to a difficulty/newcomer issue which you understand.
I think this issue would be a little tricky for a newcomer, but if you understand this you can get yourself assigned otherwise look for another newcomer issue :)

[2018-08-01 08:39] ssg2526 commented on #594
@nvzard, Thanks for the help.

[2018-08-01 10:03] #586 closed

[2018-08-01 10:03] #587 closed

[2018-08-01 20:33] vaibhav9619 commented on #579
Please assign me this issue

[2018-08-04 14:23] nvzard opened #596 "DefaultConfigurationMixin: Modify implementation"
Current implementation is either `DEFAULT_CONFIG` or `CONFIG_TEMPLATE`. But a better implementation will be if we can store the default values in `CONFIG_TEMPLATE` and then allow a subset of those config variables overridden in the config.py's `DEFAULT_CONFIG`.

This way we can provide the partial configuration in the `CONFIG_TEMPLATE`, and allow partial reconfiguration through config.py's `DEFAUL

[2018-08-05 00:30] #441 closed

[2018-08-05 01:10] jayvdb commented on #593
Hiya @ssg2526, I have sent you a email invite to join @coala .
After you accept it, read https://coala.io/newcomer and https://coala.io/commit carefully for tips on how to get your first PR right, and then submit a PR.
Much appreciated.

[2018-08-05 01:43] jayvdb commented on #358
This needs to be implemented as a filter to prevent access to any command based on configuration.

[2018-08-05 02:26] jayvdb opened #600 "spam plugin should implement check_configuration"
`MAX_LINES` = 1 is invalid, as it will mean anyone writing one line is spamming, which is silly.

`MAX_MSG_LEN` <= length of BOT_PREFIX is invalid, as means invoking a command is spamming, which is silly.

[2018-08-05 02:48] jayvdb opened #601 "plugins/coatils.py: Remove empty `__init__`"
The `__init__` in this module only invokes super, which will happen anyway if the `__init__` is removed.

This is medium importance because we do not want any plugin to be using `__init__`, as they should be using `activate`. (c.f. https://github.com/coala/corobo/pull/577)

[2018-08-05 03:04] jayvdb commented on #594
Specifically

`self.assertEqual(self.labhub.TEAMS, self.teams)`

This should use `assertIs` instead of `assertEqual`

in `test_invite_cmd`

`mock_dict['is_room_member'].return_value = True`

it is already True, and this should be removed

[2018-08-05 03:05] jayvdb commented on #594
@ssg2526 , you have been sent an invite to join @coala .  Please accept it so we can assign this issue to you.

[2018-08-05 03:08] jayvdb opened #602 "Make LabHub is_room_member a private function of the module"
LabHub.is_room_member is unnecessarily a static method of the class.

It can be moved to a private function `_is_room_member` at the module level, and then the tests can be improved to remove the need to do special plugin mocking.

See https://github.com/coala/corobo/pull/572#discussion_r206302575 for context

[2018-08-05 03:14] jayvdb opened #603 "Alert whenever a @mention is of someone not in the room"
Similar to https://github.com/coala/corobo/issues/317 , but for room membership.

The wording needs to be moderately toned, as it isnt 'bad' to mention a org member who isnt in the room - on gitter, they will get a notification to join the room, and they can read the room without joining, so it is OK to ping them, and they can ignore it.

Also c.f. https://github.com/coala/corobo/issues/602

[2018-08-05 08:29] bhavya17037 commented on #579
Hi, can somebody assign me to this issue? This would be my first PR to Coala :)

[2018-08-05 12:05] nvzard commented on #317
This is already taken care in the `invite` command, I'll create a callback message to issue a warning if the mentioned user is not a member of the room.

[2018-08-05 13:44] #601 closed

[2018-08-05 14:01] bhavya17037 commented on #519
I want to work on this issue. Can I be assigned to this?

[2018-08-05 18:02] bhavya17037 commented on #519
@Vamshi99
In the nevermind.py plugin, when we are setting the regex pattern, does it ignore that corobo is the first word of the command, and start to match just after it?

[2018-08-06 04:30] CodeSparkle commented on #600
@jayvdb Can I be assigned this issue?

[2018-08-06 09:37] jayvdb commented on #600
Sure. i've sent you an invite to join @coala.

[2018-08-07 13:10] #519 closed

[2018-08-07 15:05] RaiVaibhav commented on #306
A `yml` file or some data file where each GCI participant have to first add their username then they can start there work?

[2018-08-07 15:08] RaiVaibhav commented on #306
Creating a team should not have to an option here IMO

[2018-08-07 15:13] RaiVaibhav commented on #359
why open?

[2018-08-07 19:09] nvzard opened #607 "Create LabHubTestCase for testing LabHub dependent plugins and adapt GitStats tests"
The role of this TestCase is to do the setUp necessary for testing a plugin which depends on LabHub.

[2018-08-08 04:12] ssg2526 commented on #594
@jayvdb, I have joined the coala

[2018-08-08 10:18] jayvdb opened #609 "DefaultConfigMixin needs 100% branch coverage"
The directory utils was omitted from coverage, and so this work was not completed to the coala standard.

`utils/mixin.py                         26     20     14      0    15%   7-9, 12-15, 18-22, 25-38`

[2018-08-08 10:51] jayvdb commented on #609
(rechecking this ... looks like those numbers are wrong)

[2018-08-08 10:55] jayvdb commented on #609
Looks like it is `15, 14->15, 21->exit`

[2018-08-08 10:56] jayvdb opened #610 "ban command needs 100% branch test coverage"
`plugins/ban.py                         37      0     18      6    89%   21->24, 38->36, 42->36, 56->59, 72->70, 76->70`

[2018-08-08 12:00] jayvdb commented on #609
Actually only `21->exit`

https://travis-ci.org/jayvdb/corobo/builds/413532424

[2018-08-08 12:06] #607 closed

[2018-08-08 13:10] jayvdb opened #611 "100% branch coverage"
https://travis-ci.org/jayvdb/corobo/builds/413532424 shows quite a few corners where the tests dont reach

[2018-08-08 15:15] CodeSparkle commented on #600
@jayvdb I am a college fresher right now and I am just getting familiar with python and git. I understand some of the issue but not all of it. Could you please explain it in more detail?

[2018-08-09 12:47] jayvdb commented on #609
Given time is running short, I'll do this one

[2018-08-09 12:54] jayvdb commented on #609
actually the next patch will do it automatically I believe.

[2018-08-10 09:35] #382 closed

[2018-08-10 09:35] #554 closed

[2018-08-11 01:46] jayvdb commented on #579
ping @ankitb073 , your PR still need work

[2018-08-11 01:47] jayvdb commented on #579
@vaibhav9619, if you finish your PR first, I will re-assign this issue to you.  Be quick.

[2018-08-12 03:48] #596 closed

[2018-08-12 03:48] #381 closed

[2018-08-12 03:48] #383 closed

[2018-08-13 04:38] jayvdb commented on #574
fwiw, the runtime config was finished in https://github.com/coala/corobo/pull/597

[2018-08-13 05:04] jayvdb commented on #296
Unassigned due to inactivity

[2018-08-13 05:05] jayvdb commented on #328
It was blocked during GCI as there should only ever be one issue available about a single area of code, otherwise we end up with one student making the other students valid work unmergable, which is deeply unfair.  #296 already had a PR.

Anyway, I have closed that PR, and unblocking this.
This one could easily solve #296 at the same time.

[2018-08-13 07:01] jayvdb commented on #579
@vaibhav9619 created https://github.com/coala/corobo/pull/614 which is a duplicate of https://github.com/coala/corobo/pull/595 , so they have been removed from @coala .

[2018-08-13 09:40] #496 closed

[2018-08-13 13:56] jayvdb commented on #594
Assigned. sorry we tend to respond better on gitter

[2018-08-15 12:53] jayvdb commented on #600
Ping @nvzard for help , here or on gitter room for coboro

[2018-08-15 19:55] shikharvaish28 commented on #536
![](https://github.trello.services/images/mini-trello-icon.png) [coala/corobo](https://trello.com/c/aW62hdWO/3-coala-corobo)

[2018-08-16 04:30] jayvdb commented on #600
Guide at http://errbot.io/en/latest/user_guide/plugin_development/configuration.html

The existing config (https://github.com/coala/corobo/blob/master/plugins/spam.py#L13)

is
[code]

And those constants are at https://github.com/coala/corobo/blob/master/plugins/constants.py

so effectively the config default is

[code]

The first config validation we need is to ensure that the user never sets MAX

[2018-08-16 09:08] nvzard opened #615 "Make explain plugin configurable"
`explain` currently uses hardcoded coala explanations. Configuring sub-directories `explain/generic` and `explain/<org name>` so that other organizations can include their culture-specific explanations.

[2018-08-16 18:42] Dhiraj240 commented on #345
@jayvdb Please assign this issue to me as i am new comer and need to upgrade myself in this community.

[2018-08-17 02:34] jayvdb opened #617 "webservices.raml: Remove comment about merged todo"
`webservices.raml` includes a note about https://gitlab.com/coala/landing/merge_requests/39 , which is now merged.

The comment should be removed.

[2018-08-17 04:17] mikebmc commented on #617
Hi there, I'm a newcomer. Would I be able to pick up this issue?

[2018-08-17 06:14] jayvdb commented on #617
@mikebmc ive sent you a https://coala.io/newcomer invite

[2018-08-17 12:00] jayvdb commented on #345
@Dhiraj240 , assigned ; sorry for the delay

[2018-08-17 16:37] mikebmc commented on #617
Thanks for the invite @jayvdb!

I'm having some issues assigning this task through gitter. The newcomers doc suggests using the `corobo` command in gitter, however in gitter itself when I ask to join the main channel it suggests I try the `cobot` command in the cobot-test room. However, none of the commands seem to be working in the test room. Should I join the main room on gitter and use the `cor

[2018-08-17 17:32] jayvdb commented on #617
corobo has been offline for a bit , and enhanced quite a bit during the recent GSoC round, so should be ready to be brought online again soon.

[2018-08-17 18:03] srivama commented on #602
Assign this to me.

[2018-08-18 12:42] Dhiraj240 commented on #345
@jayvdb Sir,do not say sorry.Rightnow, i am unable to recognize what actually i should do ? can i get some illustration?

[2018-08-18 13:26] jayvdb commented on #345
@Dhiraj240 did you read everything in this issue?

Have you tried running corobo on your computer?

[2018-08-18 16:48] hrithik-jha commented on #385
Hi, I'm a newcomer and would like to work on this. Can anyone assign it to me?

[2018-08-19 02:12] jayvdb commented on #385
@hrithik-jha assigned

[2018-08-19 05:12] jayvdb commented on #345
Well then you will need to run corobo before you could modify it, otherwise you can not test that you changes work.

[2018-08-19 06:54] CodeSparkle commented on #600
@jayvdb I am not sure where exactly am I supposed to write the validation.

[2018-08-19 08:59] jayvdb commented on #600
You add it to `spam.py`'s `check_configuration`.

First you need to install and run corobo.
If you cant do that, you may want to find another issue to work on.

[2018-08-19 11:26] CodeSparkle commented on #600
Errbot isn't being detected on my system. And running corobo by the docker image shows something like this: https://pastebin.com/kLDFqJn3

[2018-08-19 11:40] nvzard commented on #600
@CodeSparkle
 To setup corobo, just create a virtualenv and install all the deps in requirements.txt and test-requirements. Then you'll be good to go.

[2018-08-19 11:55] Dhiraj240 commented on #345
@jayvdb Fine, i was silly to ask a question without trying sorry,i will update you in 2 days.

[2018-08-21 13:40] hrithik-jha commented on #385
Thanks, where exactly should I mention it?

[2018-08-21 16:46] hrithik-jha commented on #385
@jayvdb I've created a PR.

[2018-08-24 05:38] Dhiraj240 commented on #345
@jayvdb Sorry, i was not up to my words.I was bit caught up with my college fest.I will give PR in coming weeks.Again Sorry for delay.

[2018-08-25 04:04] ayushagg31 commented on #600
@jayvdb @nvzard can I give it a try...

[2018-08-28 01:08] #617 closed

[2018-09-03 02:04] CodeSparkle commented on #600
The errbot install isn't working because Python3.6 is needed. I created the virtualenv with python3.6, but it didn't work out. Also, my OS is Ubuntu 16.04 32-bit, and maybe the docker image is meant for 64-bit OS.

[2018-09-03 15:49] 123vivekr commented on #542
I would like to give this a try. I'm new to testing. Can you assign this to me?

[2018-09-04 08:14] CodeSparkle commented on #600
While installing the dependencies, I encountered this error.
![screenshot from 2018-09-03 08-09-41](https://user-images.githubusercontent.com/40273492/45018848-89277b00-b048-11e8-8092-461c58ddfc69.png)
I haven't been able to find my way around it.

[2018-09-10 07:00] jayvdb commented on #296
Merging this into https://github.com/coala/corobo/issues/328

[2018-09-10 07:00] #296 closed

[2018-09-10 12:08] li-boxuan opened #625 "Travis failure: failed building wheel for multidict"
https://travis-ci.org/coala/corobo/builds/426339749#L2131

unable to execute 'gcc': No such file or directory

[2018-09-17 15:40] 123vivekr commented on #542
@jayvdb Please assign this to me

[2018-09-20 10:34] #593 closed

[2018-10-06 04:43] li-boxuan commented on #625
Seems this is not an issue anymore. See the latest build https://travis-ci.org/coala/corobo/builds/437630316 is failing on some other errors.

[2018-10-06 04:43] #625 closed

[2018-10-06 05:04] nvzard opened #626 "Build Failure due to pip 18.2 and markdown 3.0"
https://travis-ci.org/coala/corobo/builds/437630316

[2018-10-11 01:03] kumar1202 commented on #602
@jayvdb Can you assign it to me, if no one is working on it.

[2018-10-11 01:06] kumar1202 commented on #412
@jayvdb Can you assign this to me, if no one is working on it.

[2018-10-11 05:13] srivama commented on #602
Ah yes! I was working on this issue earlier, but then it skipped my mind after the exams break. Feel free to work on it once you’re assigned 🙂

[2018-10-11 08:48] abhishalya commented on #603
@jayvdb Please assign this to me 😃

[2018-10-11 11:30] jayvdb commented on #412
This is a GCI issue.

[2018-10-11 12:18] #626 closed

[2018-10-11 12:53] #345 closed

[2018-10-11 16:28] abhishalya commented on #603
@jayvdb Has this been already taken care of? I found this:

[code]

[2018-10-13 08:35] jayvdb commented on #603
That is a specific case, operational only in one command.

We want a generic solution which works all the time to replace those lines ;-)

See errbot filters.

[2018-10-15 09:46] abhishalya commented on #603
@jayvdb So if I understand correctly if within any message if `@mention` is there and the person is not from the room then that should produce a warning message.

I hope this can be solved by checking if there is any mention and if there is, call `is_room_member` and pass the warning message accordingly through `@cmdfilter`.

[2018-10-15 10:41] jayvdb commented on #603
That sounds roughly correct.

[2018-10-17 11:14] #583 closed

[2018-10-18 08:47] abhishalya commented on #603
errbot already has a `callback_mention` method which is triggered whenever someone is mentioned, the triggering is not currently implemented in gitter backend but it can be done like in many other backends.

Reference: https://github.com/errbotio/errbot/issues/550

I will here create a `cmdfilter` which would do the job we want. But if needed, it can be improved.

[2018-10-18 11:55] abhishalya commented on #603
@jayvdb This is my solution:

1. We can append a small code to the callback_message function since the backend already has it. Later we can create a separate callback_mention method for this.
2. We can get the person mentioned through the message body but then its identifier is required to check if the mentioned person is in the room or not. This requires the `build_identifier` function to work pr

[2018-10-18 13:07] yukiisbored opened #629 "Docker image doesn't start"
Due to a recent change with errbot, I believe it caused the Gitter backend to break and crash.

[code]

[2018-10-18 13:15] jayvdb commented on #629
CI runs all tests.  That isnt possible if there is a problem like this.

It must be related to a specific version being different, but @abhishalya has been reporting a similar problem and they couldnt see what version was different.  However they were then reporting that all tests were passing locally, so they must have found a solution...

[2018-10-18 13:44] Vamshi99 commented on #603
@abhishalya There is no need to create a new `callback_mention` func, just use `callback_message` like [here](https://github.com/coala/corobo/blob/ce9cf184e3faebb4962f0a2c07d54e0d239b8036/plugins/labhub.py#L179) and check if the users mentioned in the message is member of that room or not using [is_room_member](https://github.com/coala/corobo/blob/ce9cf184e3faebb4962f0a2c07d54e0d239b8036/plugins/l

[2018-10-18 13:58] abhishalya commented on #603
@Vamshi99

Yes that is my current idea. But, rather than doing this we can simply use the `callback_mention` which would be automatically triggered once someone is mentioned. Its just an improvement.

It only works for a single function and as @jayvdb said we need a more generic solution which would work for all.

[2018-10-18 16:32] abhishalya commented on #629
There was no solution other than manually changing the import statement to `from errbot.core import ErrBot`. @yukiisbored can you do the above change and try to deploy the bot again, I'm facing one more issue after that.

[2018-10-18 18:17] bkhanale commented on #579
@jayvdb Can I take this up, I'll fix it quickly. Besides there are not so many newcomer issues left :sweat_smile:

[2018-10-23 17:20] CLiu13 commented on #367
@jayvdb Could you assign me to this issue? Working on it for GCI. Thanks!

[2018-10-24 01:16] #367 closed

[2018-10-24 01:44] jayvdb opened #632 "labhub: Add error message if nick is empty"
Currently labhub uses the `nick` as the username, because this is how gitter works.

But not all backends provide a `nick`.  See https://github.com/coala/corobo/issues/255

All labhub commands which need `nick` should provide an error message

[2018-10-24 01:45] jayvdb commented on #632
This includes at least `assign` and `unassign`.

[2018-10-24 01:54] jayvdb opened #633 "labhub: IGitt breakage replaced username strings with User objects"
IGitt's `Issue.assign()` and `Issue.unassign()` now take a `FooUser` object instead of a username.

Our tests use mocks so they didnt notice this.

Constructing a User object isnt exactly easy either.
The User objects are using for logging in, and as a result require a token parameter in the constructor.

[2018-10-24 01:55] CLiu13 commented on #412
May I be assigned to this issue? Thanks!

[2018-10-24 03:27] jayvdb opened #635 "On Zulip, ROOMS_TO_JOIN should contain valid Zulip rooms"
Following on from https://github.com/coala/corobo/pull/634 , the rooms list needs to be updated on backend Zulip to contain only rooms which exist on the coala Zulip server , otherwise there are lots of errors on startup.

Note that 'maintainers' (same as gitter coala/coala/maintainers) and 'gci-mentors-2018' (no gitter equivalent) are two private rooms the bot also needs to join on Zulip.

[2018-10-24 03:34] jayvdb commented on #635
This is GCI task https://codein.withgoogle.com/dashboard/tasks/6377821476749312/

[2018-10-24 03:35] #412 closed

[2018-10-24 03:39] why-does-ie-still-exist commented on #635
@jayvdb does the bot need to scrape zulip, use the zulip api, or is this just a static list of rooms pertinent to the bot?

[2018-10-24 03:41] why-does-ie-still-exist commented on #635
Nevermind. I see what you mean(I think) I'll update the list. :-)

[2018-10-24 03:50] jayvdb commented on #635
It can be a static list.

[2018-10-24 09:00] jayvdb commented on #394
Partial solution at https://github.com/coala/corobo/pull/417

[2018-10-25 19:56] #579 closed

[2018-10-26 02:41] #635 closed

[2018-10-26 03:06] #336 closed

[2018-11-04 04:51] jayvdb commented on #331
Needs to import the template from https://gitlab.com/coala/mobans/issues/2

[2018-11-04 04:55] jayvdb commented on #331
This issue reserved for Google Code-in task [6310284659523584](https://codein.withgoogle.com/dashboard/tasks/6310284659523584).

[2018-11-06 15:41] #632 closed

[2018-11-08 15:48] sladyn98 commented on #610
@jayvdb Can i know how are the individual test being converted for each file specified in the travis.yml .Because from what i understand there are a specific number of files for which travis is conducting tests maybe in pytest .

[2018-11-11 06:00] sladyn98 commented on #610
@jayvdb I figured i need to add the ban.py needs to be added to travis for testing purposes can i get further validation on this.

[2018-11-11 09:01] #331 closed

[2018-11-14 04:59] PandaBoi commented on #299
Hey! I'd like to be assigned this issue please?

[2018-12-07 19:06] sladyn98 commented on #347
Before I get this issue assigned to me. I would like to propose the following solution
1) If the backend is gitter check if it is ```gitlab``` or ```github``` and construct the username as follows:
https://github.com/username similar for gitlab
2) If the backend is mattermost ```gitlab``` would be sufficient i guess.
3) Return the profile link.
Additional notes:
A proper regex expression for extra

[2018-12-22 05:51] anand372 commented on #542
could i give this a try.

[2019-02-01 16:58] 123vivekr commented on #542
I am not working on this issue since I'm having great difficulty setting up the project. Please un-assign me.

[2019-02-04 14:36] sladyn98 opened #646 "corobo CI failing due to Pycodestyle Warning W605"
In python 3.6, Unknown escapes consisting of \ and an ASCII letter in regular expressions will
cause an warning.In the upcoming python versions this would be treated as an error.
Owing to it pycodestyle have added this check for future Python versions.
Therefore Corobo's travis CI spits out the W606 warning for the following lines:
 `**** PycodestyleBear (W605) [Section: all.autopep8 | Severity: N

[2019-02-09 10:34] Anmolbansal1 commented on #610
@jayvdb, please assign this issue to me.

[2019-02-10 08:53] AkshJain99 commented on #344
@jayvdb or @Makman2  is this issue still need enhancement? I mean do we need an option to close issue because ithink @Makman2 is saying absolutely true that rights for closing any issue should be only with maintainers

[2019-02-10 16:21] sladyn98 commented on #344
@AkshJain99 Yeah I think the command should only cater to maintainers or developers since the right to close an issue should rest with the developers.

[2019-02-10 16:23] AkshJain99 commented on #344
do you think that developer should be given rights to close issue?

[2019-02-10 16:33] sladyn98 commented on #344
@AkshJain99 No they should not be given be given rights they should only be available to maintainers, because they are the ones to merge an issue so they should be the ones to close it as well.

[2019-02-10 16:35] AkshJain99 commented on #344
yes i thought the same :+1:

[2019-02-26 08:25] nvzard opened #647 "Update gitter-backend submodule"
The gitter backend needs to be updated after https://github.com/errbotio/err-backend-gitter/pull/40 got merged.

[2019-02-27 17:49] abhishalya opened #649 "Use latest coala-bears"
Semaphore needs to install coala from the master branch [here](https://github.com/coala/corobo/blob/master/.ci/semaphore.tests.sh#L3).

One of the reason for this is the build failure due to InvalidLinkBear which was fixed recently.

[2019-02-27 19:30] abhishalya commented on #646
corobo starts with small `c` also the issue if about fixing W605 (and not W606)?

[2019-02-28 05:08] VertexC commented on #649
Hi @abhishalya, can you assign this bug to me?

[2019-02-28 08:57] abhishalya commented on #649
@VertexC Sorry, I cannot assign issues, you can ask maintainers to assign you the issues ;)
Besides, this should be a part of one of the existing open PR.

[2019-03-02 17:11] nvzard commented on #649
@li-boxuan can you please assign @VertexC this issue?

[2019-03-09 19:54] Makman2 commented on #365
Tbh I don't consider this as critical. We can avoid the accidental clashing by forcing the user to pass a custom name for the bot. However, I haven't seen that yet so this sounds to me like an uncommon case. If people want to annoy people by spawning multiple instances that react on the same name, they could still. That's a misuse we can't stop expect individually banning people.

[2019-03-10 03:05] xurror commented on #647
Please can i get any hint on how to start solving this issue?

[2019-03-18 17:14] #646 closed

[2019-03-18 22:00] #629 closed

[2019-03-18 22:00] #647 closed

[2019-03-19 15:49] Makman2 opened #653 "Introducing a stage environment"
Separated from https://github.com/coala/corobo/issues/509

[2019-03-19 15:50] Makman2 commented on #509
A staging system is imo a separate issue and is not necessarily tied to security hardenings. Also I don't see major security benefits due to introducing a staging system, nobody really wants to do manual tests anyway so the effectiveness is rather limited. In any case, I extracted that point into a separate issue: https://github.com/coala/corobo/issues/653

Since all other points are done, closing

[2019-03-19 15:50] #509 closed

[2019-03-19 15:56] Makman2 commented on #653
Currently I don't see major benefits in introducing a staging system compared to the effort to introduce one, because
- someone has to conduct manual tests on it to make it actually useful. I rather prefer to do continuous deployments and fix things fast. Problems are then covered by automated tests instead of manual ones (leads to more reliable deployments).
- necessity to manage infrastructural

[2019-03-19 17:36] abhishalya opened #654 "Use coala master in .ci/semaphore.tests.sh"
As per https://github.com/coala/corobo/pull/650/files we use latest coala-bears to fix the issues with the semaphore CI. But we expected it to be handling coala on its own as it is its requirement. But we found that it wasn't using latest coala master and was using coala release instead. See https://github.com/coala/coala-bears/issues/2894. Hence, to fix this we need to specify the coala master ex

[2019-03-19 19:42] #654 closed

[2019-04-09 10:25] abhishalya commented on #424
We could have this, similar to the testing framework we have for the bears. Although this is quite different from that since this involves a lot of mocking and other stuff but that would be a good learning base before implementing this. I think this alone could be a potential GSoC project.

[2019-04-11 07:35] meetmangukiya commented on #424
I think this is done, isn't it? @nvzard

[2019-04-11 15:54] sladyn98 opened #656 "Corobo CI Failing due to old pytest version"
The corobo build is failing due to a old version to pytest.
```Plugin 'xdist' could not be loaded: (pytest 3.6.4 (/home/travis/virtualenv/python3.6.3/lib/python3.6/site-packages), Requirement.parse('pytest>=4.4.0'))!```
Difficulty : newcomer

[2019-04-13 06:32] nvzard commented on #424
@abhishalya https://github.com/coala/corobo/blob/master/tests/corobo_test_case.py
There is always room for improvement. It'd be awesome if you or someone else can pitch in new ideas so that we can improve it further.

[2019-04-14 07:31] sladyn98 commented on #349
a) The assign command could have the user mentioned in it
eg `@sladyn98 you have been assigned to the issue #issue url`
b) Currently with the unassign command if the user cannot be assigned then the reply does  not mention the username so that would be fixed as well.
c) The create issue command too needs to custom reply,  currently it just replies with `here you go`.
d) The `lmgtfy` could also inc

[2019-04-14 10:40] sladyn98 commented on #284
@Makman2 @meetmangukiya this should rather be a part of gitmate, dont you guys think?

[2019-04-14 10:47] sladyn98 commented on #308
@meetmangukiya @Makman2 why is this issue still alive, we already have a mark function right, do we want a separate function which would allow developers to assign labels to issues or do we want that right still with the maintainters.

[2019-04-14 10:53] sladyn98 commented on #528
@nvzard is this feature already implemented?